:root {
	--emerald-50: #f1fcf2;
	--emerald-100: #defae2;
	--emerald-200: #bff3c7;
	--emerald-300: #8de89c;
	--emerald-500: #2cbb44;
	--emerald-600: #1f9a33;
	--emerald-700: #1c792c;
	--emerald-800: #1b6027;
	--emerald-900: #184f23;
	--emerald-950: #082b0f;
	--emerald: #45d15c;

	--ebony-50: #f2f5fb;
	--ebony-100: #d5e0f2;
	--ebony-200: #abbfe4;
	--ebony-300: #7994cf;
	--ebony-400: #4d6ab4;
	--ebony-500: #334e99;
	--ebony-600: #273b7a;
	--ebony-700: #233162;
	--ebony-800: #202a4f;
	--ebony-900: #1e2743;
	--ebony: #050710;

	--dove-gray-50: #f7f7f7;
	--dove-gray-100: #e3e3e3;
	--dove-gray-200: #c8c8c8;
	--dove-gray-300: #a4a4a4;
	--dove-gray-400: #818181;
	--dove-gray-600: #515151;
	--dove-gray-700: #434343;
	--dove-gray-800: #383838;
	--dove-gray-900: #313131;
	--dove-gray-950: #1a1a1a;
	--dove-gray: #737373;

	--silver-chalice-50: #f8f8f8;
	--silver-chalice-100: #f0f0f0;
	--silver-chalice-200: #e4e4e4;
	--silver-chalice-300: #d1d1d1;
	--silver-chalice-400: #b4b4b4;
	--silver-chalice-600: #818181;
	--silver-chalice-700: #6a6a6a;
	--silver-chalice-800: #5a5a5a;
	--silver-chalice-900: #4e4e4e;
	--silver-chalice-950: #282828;
	--silver-chalice: #a6a6a6;

	--lunar-green-50: #f6f7f6;
	--lunar-green-100: #e3e4e3;
	--lunar-green-200: #c7c8c7;
	--lunar-green-300: #a3a5a3;
	--lunar-green-400: #7f827f;
	--lunar-green-500: #656864;
	--lunar-green-600: #4f524f;
	--lunar-green-800: #373837;
	--lunar-green-900: #303130;
	--lunar-green-950: #191a19;
	--lunar-green: #3e403e;

	--black-haze-100: #eff0f0;
	--black-haze-200: #dadddd;
	--black-haze-300: #babfbf;
	--black-haze-400: #959b9b;
	--black-haze-500: #787f7e;
	--black-haze-600: #616867;
	--black-haze-700: #4f5555;
	--black-haze-800: #444847;
	--black-haze-900: #3b3f3f;
	--black-haze-950: #272a2a;
	--black-haze: #f7f8f8;

	--cold-gray-50: #f6f7f6;
	--cold-gray-100: #e3e4e3;
	--cold-gray-200: #c7c8c7;
	--cold-gray-300: #a3a5a3;
	--cold-gray-400: #7f827f;
	--cold-gray-500: #656864;
	--cold-gray-600: #4f524f;
	--cold-gray-800: #373837;
	--cold-gray-900: #303130;
	--cold-gray-950: #191a19;
	--cold-gray: #3e403e;

	--black-50: #f7f7f7;
	--black-100: #e3e3e3;
	--black-200: #c8c8c8;
	--black-300: #a4a4a4;
	--black-400: #818181;
	--black-500: #666666;
	--black-600: #515151;
	--black-700: #434343;
	--black-800: #383838;
	--black-900: #313131;
	--black: #000000;

	--emperor-50: #f7f7f7;
	--emperor-100: #e3e3e3;
	--emperor-200: #c8c8c8;
	--emperor-300: #a4a4a4;
	--emperor-400: #818181;
	--emperor-500: #666666;
	--emperor-700: #434343;
	--emperor-800: #383838;
	--emperor-900: #313131;
	--emperor-950: #1a1a1a;
	--emperor: #545454;

	--scarlet-50: #fff0f0;
	--scarlet-100: #ffdfde;
	--scarlet-200: #ffc5c3;
	--scarlet-300: #ff9c99;
	--scarlet-400: #ff635e;
	--scarlet-500: #ff332c;
	--scarlet-700: #cf0c06;
	--scarlet-800: #ab0e09;
	--scarlet-900: #8d130f;
	--scarlet-950: #4d0402;
	--scarlet: #f62019;

	--shamrock-50: #edfcf6;
	--shamrock-100: #d3f8e8;
	--shamrock-200: #abefd6;
	--shamrock-300: #74e1bf;
	--shamrock-500: #18b18b;
	--shamrock-600: #0c8f71;
	--shamrock-700: #0a725e;
	--shamrock-800: #0a5b4b;
	--shamrock-900: #094b3e;
	--shamrock-950: #042a24;
	--shamrock: #34c59c;

	--jelly-bean-50: #f2fbfa;
	--jelly-bean-100: #d2f5f3;
	--jelly-bean-200: #a5eae8;
	--jelly-bean-300: #70d8d8;
	--jelly-bean-400: #42bcbf;
	--jelly-bean-600: #1e7c83;
	--jelly-bean-700: #1c6369;
	--jelly-bean-800: #1b4e54;
	--jelly-bean-900: #1a4347;
	--jelly-bean-950: #09262a;
	--jelly-bean: #258f94;

	--woodsmoke-50: #f6f6f7;
	--woodsmoke-100: #e1e3e6;
	--woodsmoke-200: #c2c6cd;
	--woodsmoke-300: #9ca1ac;
	--woodsmoke-400: #767d8b;
	--woodsmoke-500: #5c6270;
	--woodsmoke-600: #484d59;
	--woodsmoke-700: #3c3f49;
	--woodsmoke-800: #33353c;
	--woodsmoke-900: #2d2e34;
	--woodsmoke-950: #16171b;

	--gold-50: #ffffe7;
	--gold-100: #feffc1;
	--gold-200: #fffd86;
	--gold-300: #fff441;
	--gold-400: #ffe50d;
	--gold-600: #d19d00;
	--gold-700: #a67102;
	--gold-800: #89580a;
	--gold-900: #74470f;
	--gold-950: #442504;
	--gold: #f9d100;

	--turquoise-blue-50: #eefdfd;
	--turquoise-blue-100: #d4f9f9;
	--turquoise-blue-200: #aef2f3;
	--turquoise-blue-400: #37d2d9;
	--turquoise-blue-500: #1cb6be;
	--turquoise-blue-600: #1a92a0;
	--turquoise-blue-700: #1c7582;
	--turquoise-blue-800: #1f606b;
	--turquoise-blue-900: #1e505b;
	--turquoise-blue-950: #0e343e;
	--turquoise-blue: #6ce5e8;

	--scooter-50: #eefbfd;
	--scooter-100: #d5f3f8;
	--scooter-200: #b0e6f1;
	--scooter-300: #7ad3e6;
	--scooter-500: #2099ba;
	--scooter-600: #1e7c9c;
	--scooter-700: #1f657f;
	--scooter-800: #215369;
	--scooter-900: #204659;
	--scooter-950: #102d3c;
	--scooter: #41b8d5;

	--boston-blue-50: #f2f9fd;
	--boston-blue-100: #e5f1f9;
	--boston-blue-200: #c4e2f3;
	--boston-blue-300: #91cae8;
	--boston-blue-400: #56aeda;
	--boston-blue-600: #2177a8;
	--boston-blue-700: #1c6088;
	--boston-blue-800: #1b5171;
	--boston-blue-900: #1b445f;
	--boston-blue-950: #122c3f;
	--boston-blue: #2d8bba;

	--st-tropaz-50: #f3f6fc;
	--st-tropaz-100: #e7eef7;
	--st-tropaz-200: #c9d9ee;
	--st-tropaz-300: #9abbdf;
	--st-tropaz-400: #6497cc;
	--st-tropaz-500: #417ab6;
	--st-tropaz-700: #274d7d;
	--st-tropaz-800: #244268;
	--st-tropaz-900: #233957;
	--st-tropaz-950: #17253a;
	--st-tropaz: #2f5f98;

	--rhino-50: #f2f4fc;
	--rhino-100: #e2e7f7;
	--rhino-200: #ccd5f1;
	--rhino-300: #a8bae8;
	--rhino-400: #7f96db;
	--rhino-500: #6176d0;
	--rhino-600: #4d5bc3;
	--rhino-700: #434bb2;
	--rhino-800: #3b3f92;
	--rhino-950: #232548;
	--rhino: #31356e;

	--bouquet-50: #f9f6f9;
	--bouquet-100: #f5eef4;
	--bouquet-200: #edddeb;
	--bouquet-300: #dec3da;
	--bouquet-400: #c99dc2;
	--bouquet-500: #b67eac;
	--bouquet-700: #884e78;
	--bouquet-800: #714364;
	--bouquet-900: #603b56;
	--bouquet-950: #381f31;
	--bouquet: #a66c98;

	--can-can-50: #faf5f7;
	--can-can-100: #f7ecf0;
	--can-can-200: #f1d9e3;
	--can-can-300: #e6bbcb;
	--can-can-500: #c66e8c;
	--can-can-600: #b1516d;
	--can-can-700: #983e55;
	--can-can-800: #7e3648;
	--can-can-900: #6a313f;
	--can-can-950: #3f1821;
	--can-can: #d690aa;

	--rose-bud-50: #fef2f3;
	--rose-bud-100: #fde3e5;
	--rose-bud-200: #fdcbce;
	--rose-bud-400: #f5747c;
	--rose-bud-500: #eb4852;
	--rose-bud-600: #d82a35;
	--rose-bud-700: #b52029;
	--rose-bud-800: #961e25;
	--rose-bud-900: #7d1f25;
	--rose-bud-950: #440b0e;
	--rose-bud: #fbb9bd;

	--can-can-2-50: #faf5f7;
	--can-can-2-100: #f7ecf0;
	--can-can-2-200: #f0dae3;
	--can-can-2-300: #e4bdcc;
	--can-can-2-500: #c2728e;
	--can-can-2-600: #ad556e;
	--can-can-2-700: #934358;
	--can-can-2-800: #7a3a4a;
	--can-can-2-900: #673440;
	--can-can-2-950: #3d1a23;
	--can-can-2: #d190a8;

	--wedgewood-50: #f2f9f9;
	--wedgewood-100: #ddeff0;
	--wedgewood-200: #bfe0e2;
	--wedgewood-300: #92cace;
	--wedgewood-400: #5faab1;
	--wedgewood-600: #3b757f;
	--wedgewood-700: #356169;
	--wedgewood-800: #325158;
	--wedgewood-900: #2d464c;
	--wedgewood-950: #1a2c32;
	--wedgewood: #438e96;

	--delta-50: #f8f8f8;
	--delta-100: #f0f0f0;
	--delta-200: #e5e5e3;
	--delta-300: #d1d1d0;
	--delta-500: #a6a6a3;
	--delta-600: #83837f;
	--delta-700: #6c6c69;
	--delta-800: #5b5b59;
	--delta-900: #4f4f4d;
	--delta-950: #282827;
	--delta: #b6b6b3;

	--baltic-sea-50: #f6f6f7;
	--baltic-sea-100: #e1e1e6;
	--baltic-sea-200: #c5c4cb;
	--baltic-sea-300: #9f9eaa;
	--baltic-sea-400: #7a7988;
	--baltic-sea-500: #615f6d;
	--baltic-sea-600: #4c4b56;
	--baltic-sea-700: #3f3e47;
	--baltic-sea-800: #35343b;
	--baltic-sea-900: #2f2e33;
	--baltic-sea: #212025;

	--white-100: #efefef;
	--white-200: #dcdcdc;
	--white-300: #bdbdbd;
	--white-400: #989898;
	--white-500: #7c7c7c;
	--white-600: #656565;
	--white-700: #525252;
	--white-800: #464646;
	--white-900: #3d3d3d;
	--white-950: #292929;
	--white: #ffffff;

	--outer-space-50: #f4f7f7;
	--outer-space-100: #e2eaeb;
	--outer-space-200: #c8d7d9;
	--outer-space-300: #a2bbbe;
	--outer-space-400: #74959c;
	--outer-space-500: #597a81;
	--outer-space-600: #4d676d;
	--outer-space-700: #42565c;
	--outer-space-800: #3c4a4e;
	--outer-space-950: #20292c;
	--outer-space: #323c40;

	--gray-50: #f8f8f8;
	--gray-100: #f0f0f0;
	--gray-200: #e4e4e4;
	--gray-300: #d1d1d1;
	--gray-400: #b4b4b4;
	--gray-600: #818181;
	--gray-700: #6a6a6a;
	--gray-800: #5a5a5a;
	--gray-900: #4e4e4e;
	--gray-950: #282828;
	--gray: #939393;

	--mine-shaft-50: #f7f7f7;
	--mine-shaft-100: #e3e3e3;
	--mine-shaft-200: #c8c8c8;
	--mine-shaft-300: #a4a4a4;
	--mine-shaft-400: #818181;
	--mine-shaft-500: #666666;
	--mine-shaft-600: #515151;
	--mine-shaft-700: #434343;
	--mine-shaft-800: #383838;
	--mine-shaft-900: #313131;
	--mine-shaft: #242424;

	--robins-egg-blue-50: #ebffff;
	--robins-egg-blue-100: #cefdff;
	--robins-egg-blue-200: #a2f8ff;
	--robins-egg-blue-300: #63f0fd;
	--robins-egg-blue-400: #1cdef4;
	--robins-egg-blue-600: #039ab7;
	--robins-egg-blue-700: #0a7a94;
	--robins-egg-blue-800: #126278;
	--robins-egg-blue-900: #145265;
	--robins-egg-blue-950: #063646;
	--robins-egg-blue: #00bcd4;

	--malachite-50: #eefff4;
	--malachite-100: #d7ffe6;
	--malachite-200: #b2ffd0;
	--malachite-300: #76ffac;
	--malachite-400: #33f581;
	--malachite-500: #09de5f;
	--malachite-700: #04913e;
	--malachite-800: #0a7135;
	--malachite-900: #0a5d2e;
	--malachite-950: #003417;
	--malachite: #00c851;

	--dodger-blue-50: #eefaff;
	--dodger-blue-100: #daf3ff;
	--dodger-blue-200: #bdebff;
	--dodger-blue-300: #8fe0ff;
	--dodger-blue-400: #5accff;
	--dodger-blue-500: #34b1fd;
	--dodger-blue-700: #167bdf;
	--dodger-blue-800: #1863b5;
	--dodger-blue-900: #1a548e;
	--dodger-blue-950: #153456;
	--dodger-blue: #2196f3;

	--coral-red-50: #fff1f1;
	--coral-red-100: #ffdfdf;
	--coral-red-200: #ffc5c5;
	--coral-red-300: #ff9d9d;
	--coral-red-400: #ff6464;
	--coral-red-600: #ed1515;
	--coral-red-700: #c80d0d;
	--coral-red-800: #a50f0f;
	--coral-red-900: #881414;
	--coral-red-950: #4b0404;
	--coral-red: #ff4444;

	--gorse-50: #fefde8;
	--gorse-100: #fefdc3;
	--gorse-200: #fdf68b;
	--gorse-400: #f9d916;
	--gorse-500: #e9c009;
	--gorse-600: #c99605;
	--gorse-700: #a06c08;
	--gorse-800: #84540f;
	--gorse-900: #704513;
	--gorse-950: #422406;
	--gorse: #fceb4c;

	--burnt-sienna-50: #fef2f2;
	--burnt-sienna-100: #fee3e2;
	--burnt-sienna-200: #feccca;
	--burnt-sienna-300: #fca8a5;
	--burnt-sienna-400: #f87671;
	--burnt-sienna-600: #dc2d26;
	--burnt-sienna-700: #b9221c;
	--burnt-sienna-800: #99201b;
	--burnt-sienna-900: #7f211d;
	--burnt-sienna-950: #450c0a;
	--burnt-sienna: #f05a54;

	--spring-green-50: #eefff5;
	--spring-green-100: #d8ffeb;
	--spring-green-200: #b3ffd7;
	--spring-green-300: #78fdb8;
	--spring-green-500: #0dda71;
	--spring-green-600: #03b65b;
	--spring-green-700: #078e4a;
	--spring-green-800: #0c6f3e;
	--spring-green-900: #0c5b35;
	--spring-green-950: #00331b;
	--spring-green: #21f086;

	--picton-blue-50: #eff9ff;
	--picton-blue-100: #dceffd;
	--picton-blue-200: #c1e4fc;
	--picton-blue-300: #96d5fa;
	--picton-blue-400: #65bcf5;
	--picton-blue-600: #2b83e5;
	--picton-blue-700: #236dd2;
	--picton-blue-800: #2258ab;
	--picton-blue-900: #214c87;
	--picton-blue-950: #192f52;
	--picton-blue: #3c9df0;

	--corn-50: #fefde8;
	--corn-100: #fefdc3;
	--corn-200: #fdf78b;
	--corn-300: #fcea48;
	--corn-400: #f9d916;
	--corn-600: #c99605;
	--corn-700: #a06b08;
	--corn-800: #84540f;
	--corn-900: #714512;
	--corn-950: #422406;
	--corn: #e9c009;

	--amber-50: #fffbeb;
	--amber-100: #fef3c7;
	--amber-200: #fde68a;
	--amber-300: #fcd34d;
	--amber-400: #fbbf24;
	--amber-600: #d97706;
	--amber-700: #b45309;
	--amber-800: #92400e;
	--amber-900: #78350f;
	--amber-950: #451a03;
	--amber: #f59e0b;

	--fun-blue-50: #f2f7fd;
	--fun-blue-100: #e4edfa;
	--fun-blue-200: #c2dcf5;
	--fun-blue-300: #8cbeed;
	--fun-blue-400: #4f9de1;
	--fun-blue-500: #2880cf;
	--fun-blue-700: #16518e;
	--fun-blue-800: #164676;
	--fun-blue-900: #183b62;
	--fun-blue-950: #102541;
	--fun-blue: #1964af;

	--regent-gray-50: #f5f8f8;
	--regent-gray-100: #edf1f2;
	--regent-gray-200: #dee5e7;
	--regent-gray-300: #c9d3d8;
	--regent-gray-400: #b2bfc7;
	--regent-gray-500: #9dabb7;
	--regent-gray-600: #7d8b9c;
	--regent-gray-700: #747f8e;
	--regent-gray-800: #5f6974;
	--regent-gray-900: #50575f;
	--regent-gray-950: #2f3337;

	--seance-50: #fcf5fe;
	--seance-100: #f8e9fe;
	--seance-200: #f1d3fb;
	--seance-300: #e9b0f7;
	--seance-400: #dc81f1;
	--seance-500: #c850e5;
	--seance-600: #af30c9;
	--seance-800: #7a2088;
	--seance-900: #661f70;
	--seance-950: #42084a;
	--seance: #9c27b0;

	--pomegranate-50: #fef4ee;
	--pomegranate-100: #fde6d7;
	--pomegranate-200: #f9caaf;
	--pomegranate-300: #f6a57b;
	--pomegranate-400: #f17646;
	--pomegranate-600: #de3a18;
	--pomegranate-700: #b82916;
	--pomegranate-800: #932319;
	--pomegranate-900: #762018;
	--pomegranate-950: #400d0a;
	--pomegranate: #ec4c1a;

	--pizazz-50: #fffbec;
	--pizazz-100: #fff6d3;
	--pizazz-200: #ffeaa5;
	--pizazz-300: #ffd86d;
	--pizazz-400: #ffbb32;
	--pizazz-500: #ffa40a;
	--pizazz-700: #cc6702;
	--pizazz-800: #a14f0b;
	--pizazz-900: #82420c;
	--pizazz-950: #462004;
	--pizazz: #ff8c00;

	--bright-sun-50: #fffaeb;
	--bright-sun-100: #fff0c6;
	--bright-sun-200: #fee289;
	--bright-sun-400: #feb621;
	--bright-sun-500: #f89408;
	--bright-sun-600: #db6d04;
	--bright-sun-700: #b64b07;
	--bright-sun-800: #943a0c;
	--bright-sun-900: #79300e;
	--bright-sun-950: #461702;
	--bright-sun: #fec941;

	--azure-radiance-50: #eff8ff;
	--azure-radiance-100: #def0ff;
	--azure-radiance-200: #b6e3ff;
	--azure-radiance-300: #75cfff;
	--azure-radiance-400: #2cb7ff;
	--azure-radiance-600: #007dd4;
	--azure-radiance-700: #0063ab;
	--azure-radiance-800: #00548d;
	--azure-radiance-900: #064674;
	--azure-radiance-950: #042c4d;
	--azure-radiance: #00a3ff;

	--bright-turquoise-50: #e7fff8;
	--bright-turquoise-100: #c6ffed;
	--bright-turquoise-200: #92ffe1;
	--bright-turquoise-300: #4dffd7;
	--bright-turquoise-500: #00e7b0;
	--bright-turquoise-600: #00bd92;
	--bright-turquoise-700: #00977a;
	--bright-turquoise-800: #007761;
	--bright-turquoise-900: #006151;
	--bright-turquoise-950: #003730;
	--bright-turquoise: #01fcc3;

	--turquoise-50: #ebfef7;
	--turquoise-100: #cefdea;
	--turquoise-200: #a2f8da;
	--turquoise-300: #66efc9;
	--turquoise-500: #04c59b;
	--turquoise-600: #00a07f;
	--turquoise-700: #008069;
	--turquoise-800: #006555;
	--turquoise-900: #015346;
	--turquoise-950: #002f29;
	--turquoise: #3de1b8;

	--alice-blue-100: #e0f1fe;
	--alice-blue-200: #bae4fd;
	--alice-blue-300: #7dcffc;
	--alice-blue-400: #38b8f8;
	--alice-blue-500: #0e9fe9;
	--alice-blue-600: #027ec7;
	--alice-blue-700: #0364a1;
	--alice-blue-800: #075585;
	--alice-blue-900: #0c476e;
	--alice-blue-950: #082d49;
	--alice-blue: #f1f9ff;

	--curious-blue-50: #f1f8fe;
	--curious-blue-100: #e1effd;
	--curious-blue-200: #bddffa;
	--curious-blue-300: #83c6f6;
	--curious-blue-500: #188edf;
	--curious-blue-600: #0b70be;
	--curious-blue-700: #0a599a;
	--curious-blue-800: #0d4c7f;
	--curious-blue-900: #114169;
	--curious-blue-950: #0b2846;
	--curious-blue: #299eed;

	--supernova-50: #fffee7;
	--supernova-100: #fffec1;
	--supernova-200: #fff886;
	--supernova-300: #ffec41;
	--supernova-400: #ffdb0d;
	--supernova-600: #d19500;
	--supernova-700: #a66a02;
	--supernova-800: #89530a;
	--supernova-900: #74430f;
	--supernova-950: #442304;
	--supernova: #ffcc00;

	--eastern-blue-50: #ecffff;
	--eastern-blue-100: #cffdfe;
	--eastern-blue-200: #a6f8fb;
	--eastern-blue-300: #68f2f8;
	--eastern-blue-400: #24e1ec;
	--eastern-blue-500: #08c4d2;
	--eastern-blue-700: #0f7c8f;
	--eastern-blue-800: #166574;
	--eastern-blue-900: #175462;
	--eastern-blue-950: #093743;
	--eastern-blue: #0994a7;

	--casal-50: #e8fffb;
	--casal-100: #c4fff5;
	--casal-200: #91ffec;
	--casal-300: #46ffdf;
	--casal-400: #00ffdd;
	--casal-500: #00fffb;
	--casal-600: #00ced9;
	--casal-700: #00a3ae;
	--casal-800: #00818b;
	--casal-950: #004752;
	--casal: #045d67;

	--grenadier-50: #fef5ee;
	--grenadier-100: #fde9d7;
	--grenadier-200: #facfae;
	--grenadier-300: #f6ae7b;
	--grenadier-400: #f18246;
	--grenadier-500: #ee6021;
	--grenadier-700: #b93515;
	--grenadier-800: #932b19;
	--grenadier-900: #772617;
	--grenadier-950: #40110a;
	--grenadier: #d44416;

	--tango-50: #fef7ee;
	--tango-100: #fdeed7;
	--tango-200: #fad9ae;
	--tango-300: #f7bd7a;
	--tango-400: #f29745;
	--tango-600: #e06016;
	--tango-700: #ba4814;
	--tango-800: #943a18;
	--tango-900: #773117;
	--tango-950: #40170a;
	--tango: #ee7416;

	--pearl-bush-50: #f8f7f4;
	--pearl-bush-100: #efece5;
	--pearl-bush-300: #cabea7;
	--pearl-bush-400: #b49f83;
	--pearl-bush-500: #a58a6a;
	--pearl-bush-600: #97795f;
	--pearl-bush-700: #7e6350;
	--pearl-bush-800: #675145;
	--pearl-bush-900: #554439;
	--pearl-bush-950: #2d231d;
	--pearl-bush: #e4ded2;

	--red-oxide-50: #fff0f0;
	--red-oxide-100: #ffdddd;
	--red-oxide-200: #ffc1c1;
	--red-oxide-300: #ff9696;
	--red-oxide-400: #ff5a5a;
	--red-oxide-500: #ff2727;
	--red-oxide-600: #fb0707;
	--red-oxide-700: #d40101;
	--red-oxide-800: #ae0606;
	--red-oxide-900: #900c0c;
	--red-oxide: #750000;

	--chicago-50: #f6f6f6;
	--chicago-100: #e7e7e7;
	--chicago-200: #d1d1d1;
	--chicago-300: #b0b0b0;
	--chicago-400: #888888;
	--chicago-500: #6d6d6d;
	--chicago-700: #4f4f4f;
	--chicago-800: #454545;
	--chicago-900: #3d3d3d;
	--chicago-950: #262626;
	--chicago: #575757;

	--fire-bush-50: #fffcea;
	--fire-bush-100: #fff5c5;
	--fire-bush-200: #ffeb85;
	--fire-bush-300: #ffda46;
	--fire-bush-400: #ffc71b;
	--fire-bush-500: #f09b00;
	--fire-bush-600: #e27c00;
	--fire-bush-700: #bb5502;
	--fire-bush-800: #984208;
	--fire-bush-900: #7c360b;
	--fire-bush-950: #481a00;
	--fire-bush: #f09b00;

	--tangaroa-50: #e9f5ff;
	--tangaroa-100: #d7eeff;
	--tangaroa-200: #b7ddff;
	--tangaroa-300: #8bc5ff;
	--tangaroa-400: #5e9fff;
	--tangaroa-500: #3977ff;
	--tangaroa-600: #174bff;
	--tangaroa-700: #0d3ef5;
	--tangaroa-800: #0e38c5;
	--tangaroa-900: #163899;
	--tangaroa-950: #09153e;
	--tangaroa: #09153e;

	--sunglow-50: #fefae8;
	--sunglow-100: #fff5c2;
	--sunglow-200: #ffe789;
	--sunglow-300: #ffce38;
	--sunglow-400: #fdba12;
	--sunglow-500: #eca006;
	--sunglow-600: #cc7902;
	--sunglow-700: #a35405;
	--sunglow-800: #86420d;
	--sunglow-900: #723711;
	--sunglow-950: #431b05;
	--sunglow: #ffce38;

	--minsk-50: #eff3fe;
	--minsk-100: #e2e8fd;
	--minsk-200: #cad3fb;
	--minsk-300: #aab6f7;
	--minsk-400: #888ff1;
	--minsk-500: #6b6ce9;
	--minsk-600: #594fdc;
	--minsk-700: #4c40c2;
	--minsk-800: #3f369d;
	--minsk-900: #393582;
	--minsk-950: #211e48;
	--minsk: #393582;

	--periwinkle-gray-50: #f3f5fa;
	--periwinkle-gray-100: #e9ecf6;
	--periwinkle-gray-200: #cfd5ea;
	--periwinkle-gray-300: #bfc6e2;
	--periwinkle-gray-400: #a4aad5;
	--periwinkle-gray-500: #8d8fc7;
	--periwinkle-gray-600: #7875b6;
	--periwinkle-gray-700: #67639f;
	--periwinkle-gray-800: #545281;
	--periwinkle-gray-900: #474768;
	--periwinkle-gray-950: #2a293d;
	--periwinkle-gray: #cfd5ea;

	--zircon-50: #f3f5fa;
	--zircon-100: #e9ebf5;
	--zircon-200: #d8dbed;
	--zircon-300: #c0c4e1;
	--zircon-400: #a6a7d3;
	--zircon-500: #918fc5;
	--zircon-600: #7e78b3;
	--zircon-700: #6d669c;
	--zircon-800: #5a547f;
	--zircon-900: #4b4867;
	--zircon-950: #2c2a3c;
	--zircon: #e9ebf5;

	--fuscous-gray-50: #f6f6f6;
	--fuscous-gray-100: #e7e7e7;
	--fuscous-gray-200: #d1d1d1;
	--fuscous-gray-300: #b0b0b0;
	--fuscous-gray-400: #888888;
	--fuscous-gray-500: #6d6d6d;
	--fuscous-gray-600: #5d5d5d;
	--fuscous-gray-700: #4e4e4e;
	--fuscous-gray-800: #454545;
	--fuscous-gray-900: #3d3d3d;
	--fuscous-gray-950: #262626;
	--fuscous-gray: #4e4e4e;

	--blue-dianne-50: #f0f9fb;
	--blue-dianne-100: #d9eff4;
	--blue-dianne-200: #b8e1e9;
	--blue-dianne-300: #87cad9;
	--blue-dianne-400: #4fabc1;
	--blue-dianne-500: #338fa7;
	--blue-dianne-600: #2d748d;
	--blue-dianne-700: #2b5f73;
	--blue-dianne-800: #2c5364;
	--blue-dianne-900: #274352;
	--blue-dianne-950: #152b37;

	--port-gore-50: #eff3fe;
	--port-gore-100: #e1eafe;
	--port-gore-200: #c9d6fc;
	--port-gore-300: #a8bbf9;
	--port-gore-400: #8596f4;
	--port-gore-500: #6872ec;
	--port-gore-600: #4b4be0;
	--port-gore-700: #3e3dc5;
	--port-gore-800: #34359f;
	--port-gore-900: #31337e;
	--port-gore-950: #23235a;
	--port-gore: #23235a;

	--biscay-50: #f2f5fc;
	--biscay-100: #e1e8f8;
	--biscay-200: #cad7f3;
	--biscay-300: #a6bdea;
	--biscay-400: #7c9bde;
	--biscay-500: #5d7bd4;
	--biscay-600: #4960c7;
	--biscay-700: #3f4fb6;
	--biscay-800: #384295;
	--biscay-900: #2c3469;
	--biscay-950: #222649;
	--biscay: #2c3469;

--transparent: transparent;
}