.bg-emerald-50 { background-color: #f1fcf2 !important; }
.bg-emerald-100 { background-color: #defae2 !important; }
.bg-emerald-200 { background-color: #bff3c7 !important; }
.bg-emerald-300 { background-color: #8de89c !important; }
.bg-emerald-500 { background-color: #2cbb44 !important; }
.bg-emerald-600 { background-color: #1f9a33 !important; }
.bg-emerald-700 { background-color: #1c792c !important; }
.bg-emerald-800 { background-color: #1b6027 !important; }
.bg-emerald-900 { background-color: #184f23 !important; }
.bg-emerald-950 { background-color: #082b0f !important; }
.bg-emerald { background-color: #45d15c !important; }

.bg-ebony-50 { background-color: #f2f5fb !important; }
.bg-ebony-100 { background-color: #d5e0f2 !important; }
.bg-ebony-200 { background-color: #abbfe4 !important; }
.bg-ebony-300 { background-color: #7994cf !important; }
.bg-ebony-400 { background-color: #4d6ab4 !important; }
.bg-ebony-500 { background-color: #334e99 !important; }
.bg-ebony-600 { background-color: #273b7a !important; }
.bg-ebony-700 { background-color: #233162 !important; }
.bg-ebony-800 { background-color: #202a4f !important; }
.bg-ebony-900 { background-color: #1e2743 !important; }
.bg-ebony { background-color: #050710 !important; }

.bg-dove-gray-50 { background-color: #f7f7f7 !important; }
.bg-dove-gray-100 { background-color: #e3e3e3 !important; }
.bg-dove-gray-200 { background-color: #c8c8c8 !important; }
.bg-dove-gray-300 { background-color: #a4a4a4 !important; }
.bg-dove-gray-400 { background-color: #818181 !important; }
.bg-dove-gray-600 { background-color: #515151 !important; }
.bg-dove-gray-700 { background-color: #434343 !important; }
.bg-dove-gray-800 { background-color: #383838 !important; }
.bg-dove-gray-900 { background-color: #313131 !important; }
.bg-dove-gray-950 { background-color: #1a1a1a !important; }
.bg-dove-gray { background-color: #737373 !important; }

.bg-silver-chalice-50 { background-color: #f8f8f8 !important; }
.bg-silver-chalice-100 { background-color: #f0f0f0 !important; }
.bg-silver-chalice-200 { background-color: #e4e4e4 !important; }
.bg-silver-chalice-300 { background-color: #d1d1d1 !important; }
.bg-silver-chalice-400 { background-color: #b4b4b4 !important; }
.bg-silver-chalice-600 { background-color: #818181 !important; }
.bg-silver-chalice-700 { background-color: #6a6a6a !important; }
.bg-silver-chalice-800 { background-color: #5a5a5a !important; }
.bg-silver-chalice-900 { background-color: #4e4e4e !important; }
.bg-silver-chalice-950 { background-color: #282828 !important; }
.bg-silver-chalice { background-color: #a6a6a6 !important; }

.bg-lunar-green-50 { background-color: #f6f7f6 !important; }
.bg-lunar-green-100 { background-color: #e3e4e3 !important; }
.bg-lunar-green-200 { background-color: #c7c8c7 !important; }
.bg-lunar-green-300 { background-color: #a3a5a3 !important; }
.bg-lunar-green-400 { background-color: #7f827f !important; }
.bg-lunar-green-500 { background-color: #656864 !important; }
.bg-lunar-green-600 { background-color: #4f524f !important; }
.bg-lunar-green-800 { background-color: #373837 !important; }
.bg-lunar-green-900 { background-color: #303130 !important; }
.bg-lunar-green-950 { background-color: #191a19 !important; }
.bg-lunar-green { background-color: #3e403e !important; }

.bg-black-haze-100 { background-color: #eff0f0 !important; }
.bg-black-haze-200 { background-color: #dadddd !important; }
.bg-black-haze-300 { background-color: #babfbf !important; }
.bg-black-haze-400 { background-color: #959b9b !important; }
.bg-black-haze-500 { background-color: #787f7e !important; }
.bg-black-haze-600 { background-color: #616867 !important; }
.bg-black-haze-700 { background-color: #4f5555 !important; }
.bg-black-haze-800 { background-color: #444847 !important; }
.bg-black-haze-900 { background-color: #3b3f3f !important; }
.bg-black-haze-950 { background-color: #272a2a !important; }
.bg-black-haze { background-color: #f7f8f8 !important; }

.bg-cold-gray-50 { background-color: #f6f7f6 !important; }
.bg-cold-gray-100 { background-color: #e3e4e3 !important; }
.bg-cold-gray-200 { background-color: #c7c8c7 !important; }
.bg-cold-gray-300 { background-color: #a3a5a3 !important; }
.bg-cold-gray-400 { background-color: #7f827f !important; }
.bg-cold-gray-500 { background-color: #656864 !important; }
.bg-cold-gray-600 { background-color: #4f524f !important; }
.bg-cold-gray-800 { background-color: #373837 !important; }
.bg-cold-gray-900 { background-color: #303130 !important; }
.bg-cold-gray-950 { background-color: #191a19 !important; }
.bg-cold-gray { background-color: #3e403e !important; }

.bg-black-50 { background-color: #f7f7f7 !important; }
.bg-black-100 { background-color: #e3e3e3 !important; }
.bg-black-200 { background-color: #c8c8c8 !important; }
.bg-black-300 { background-color: #a4a4a4 !important; }
.bg-black-400 { background-color: #818181 !important; }
.bg-black-500 { background-color: #666666 !important; }
.bg-black-600 { background-color: #515151 !important; }
.bg-black-700 { background-color: #434343 !important; }
.bg-black-800 { background-color: #383838 !important; }
.bg-black-900 { background-color: #313131 !important; }
.bg-black { background-color: #000000 !important; }

.bg-emperor-50 { background-color: #f7f7f7 !important; }
.bg-emperor-100 { background-color: #e3e3e3 !important; }
.bg-emperor-200 { background-color: #c8c8c8 !important; }
.bg-emperor-300 { background-color: #a4a4a4 !important; }
.bg-emperor-400 { background-color: #818181 !important; }
.bg-emperor-500 { background-color: #666666 !important; }
.bg-emperor-700 { background-color: #434343 !important; }
.bg-emperor-800 { background-color: #383838 !important; }
.bg-emperor-900 { background-color: #313131 !important; }
.bg-emperor-950 { background-color: #1a1a1a !important; }
.bg-emperor { background-color: #545454 !important; }

.bg-scarlet-50 { background-color: #fff0f0 !important; }
.bg-scarlet-100 { background-color: #ffdfde !important; }
.bg-scarlet-200 { background-color: #ffc5c3 !important; }
.bg-scarlet-300 { background-color: #ff9c99 !important; }
.bg-scarlet-400 { background-color: #ff635e !important; }
.bg-scarlet-500 { background-color: #ff332c !important; }
.bg-scarlet-700 { background-color: #cf0c06 !important; }
.bg-scarlet-800 { background-color: #ab0e09 !important; }
.bg-scarlet-900 { background-color: #8d130f !important; }
.bg-scarlet-950 { background-color: #4d0402 !important; }
.bg-scarlet { background-color: #f62019 !important; }

.bg-shamrock-50 { background-color: #edfcf6 !important; }
.bg-shamrock-100 { background-color: #d3f8e8 !important; }
.bg-shamrock-200 { background-color: #abefd6 !important; }
.bg-shamrock-300 { background-color: #74e1bf !important; }
.bg-shamrock-500 { background-color: #18b18b !important; }
.bg-shamrock-600 { background-color: #0c8f71 !important; }
.bg-shamrock-700 { background-color: #0a725e !important; }
.bg-shamrock-800 { background-color: #0a5b4b !important; }
.bg-shamrock-900 { background-color: #094b3e !important; }
.bg-shamrock-950 { background-color: #042a24 !important; }
.bg-shamrock { background-color: #34c59c !important; }

.bg-jelly-bean-50 { background-color: #f2fbfa !important; }
.bg-jelly-bean-100 { background-color: #d2f5f3 !important; }
.bg-jelly-bean-200 { background-color: #a5eae8 !important; }
.bg-jelly-bean-300 { background-color: #70d8d8 !important; }
.bg-jelly-bean-400 { background-color: #42bcbf !important; }
.bg-jelly-bean-600 { background-color: #1e7c83 !important; }
.bg-jelly-bean-700 { background-color: #1c6369 !important; }
.bg-jelly-bean-800 { background-color: #1b4e54 !important; }
.bg-jelly-bean-900 { background-color: #1a4347 !important; }
.bg-jelly-bean-950 { background-color: #09262a !important; }
.bg-jelly-bean { background-color: #258f94 !important; }

.bg-woodsmoke-50 { background-color: #f6f6f7 !important; }
.bg-woodsmoke-100 { background-color: #e1e3e6 !important; }
.bg-woodsmoke-200 { background-color: #c2c6cd !important; }
.bg-woodsmoke-300 { background-color: #9ca1ac !important; }
.bg-woodsmoke-400 { background-color: #767d8b !important; }
.bg-woodsmoke-500 { background-color: #5c6270 !important; }
.bg-woodsmoke-600 { background-color: #484d59 !important; }
.bg-woodsmoke-700 { background-color: #3c3f49 !important; }
.bg-woodsmoke-800 { background-color: #33353c !important; }
.bg-woodsmoke-900 { background-color: #2d2e34 !important; }
.bg-woodsmoke-950 { background-color: #16171b !important; }

.bg-gold-50 { background-color: #ffffe7 !important; }
.bg-gold-100 { background-color: #feffc1 !important; }
.bg-gold-200 { background-color: #fffd86 !important; }
.bg-gold-300 { background-color: #fff441 !important; }
.bg-gold-400 { background-color: #ffe50d !important; }
.bg-gold-600 { background-color: #d19d00 !important; }
.bg-gold-700 { background-color: #a67102 !important; }
.bg-gold-800 { background-color: #89580a !important; }
.bg-gold-900 { background-color: #74470f !important; }
.bg-gold-950 { background-color: #442504 !important; }
.bg-gold { background-color: #f9d100 !important; }

.bg-turquoise-blue-50 { background-color: #eefdfd !important; }
.bg-turquoise-blue-100 { background-color: #d4f9f9 !important; }
.bg-turquoise-blue-200 { background-color: #aef2f3 !important; }
.bg-turquoise-blue-400 { background-color: #37d2d9 !important; }
.bg-turquoise-blue-500 { background-color: #1cb6be !important; }
.bg-turquoise-blue-600 { background-color: #1a92a0 !important; }
.bg-turquoise-blue-700 { background-color: #1c7582 !important; }
.bg-turquoise-blue-800 { background-color: #1f606b !important; }
.bg-turquoise-blue-900 { background-color: #1e505b !important; }
.bg-turquoise-blue-950 { background-color: #0e343e !important; }
.bg-turquoise-blue { background-color: #6ce5e8 !important; }

.bg-scooter-50 { background-color: #eefbfd !important; }
.bg-scooter-100 { background-color: #d5f3f8 !important; }
.bg-scooter-200 { background-color: #b0e6f1 !important; }
.bg-scooter-300 { background-color: #7ad3e6 !important; }
.bg-scooter-500 { background-color: #2099ba !important; }
.bg-scooter-600 { background-color: #1e7c9c !important; }
.bg-scooter-700 { background-color: #1f657f !important; }
.bg-scooter-800 { background-color: #215369 !important; }
.bg-scooter-900 { background-color: #204659 !important; }
.bg-scooter-950 { background-color: #102d3c !important; }
.bg-scooter { background-color: #41b8d5 !important; }

.bg-boston-blue-50 { background-color: #f2f9fd !important; }
.bg-boston-blue-100 { background-color: #e5f1f9 !important; }
.bg-boston-blue-200 { background-color: #c4e2f3 !important; }
.bg-boston-blue-300 { background-color: #91cae8 !important; }
.bg-boston-blue-400 { background-color: #56aeda !important; }
.bg-boston-blue-600 { background-color: #2177a8 !important; }
.bg-boston-blue-700 { background-color: #1c6088 !important; }
.bg-boston-blue-800 { background-color: #1b5171 !important; }
.bg-boston-blue-900 { background-color: #1b445f !important; }
.bg-boston-blue-950 { background-color: #122c3f !important; }
.bg-boston-blue { background-color: #2d8bba !important; }

.bg-st-tropaz-50 { background-color: #f3f6fc !important; }
.bg-st-tropaz-100 { background-color: #e7eef7 !important; }
.bg-st-tropaz-200 { background-color: #c9d9ee !important; }
.bg-st-tropaz-300 { background-color: #9abbdf !important; }
.bg-st-tropaz-400 { background-color: #6497cc !important; }
.bg-st-tropaz-500 { background-color: #417ab6 !important; }
.bg-st-tropaz-700 { background-color: #274d7d !important; }
.bg-st-tropaz-800 { background-color: #244268 !important; }
.bg-st-tropaz-900 { background-color: #233957 !important; }
.bg-st-tropaz-950 { background-color: #17253a !important; }
.bg-st-tropaz { background-color: #2f5f98 !important; }

.bg-rhino-50 { background-color: #f2f4fc !important; }
.bg-rhino-100 { background-color: #e2e7f7 !important; }
.bg-rhino-200 { background-color: #ccd5f1 !important; }
.bg-rhino-300 { background-color: #a8bae8 !important; }
.bg-rhino-400 { background-color: #7f96db !important; }
.bg-rhino-500 { background-color: #6176d0 !important; }
.bg-rhino-600 { background-color: #4d5bc3 !important; }
.bg-rhino-700 { background-color: #434bb2 !important; }
.bg-rhino-800 { background-color: #3b3f92 !important; }
.bg-rhino-950 { background-color: #232548 !important; }
.bg-rhino { background-color: #31356e !important; }

.bg-bouquet-50 { background-color: #f9f6f9 !important; }
.bg-bouquet-100 { background-color: #f5eef4 !important; }
.bg-bouquet-200 { background-color: #edddeb !important; }
.bg-bouquet-300 { background-color: #dec3da !important; }
.bg-bouquet-400 { background-color: #c99dc2 !important; }
.bg-bouquet-500 { background-color: #b67eac !important; }
.bg-bouquet-700 { background-color: #884e78 !important; }
.bg-bouquet-800 { background-color: #714364 !important; }
.bg-bouquet-900 { background-color: #603b56 !important; }
.bg-bouquet-950 { background-color: #381f31 !important; }
.bg-bouquet { background-color: #a66c98 !important; }

.bg-can-can-50 { background-color: #faf5f7 !important; }
.bg-can-can-100 { background-color: #f7ecf0 !important; }
.bg-can-can-200 { background-color: #f1d9e3 !important; }
.bg-can-can-300 { background-color: #e6bbcb !important; }
.bg-can-can-500 { background-color: #c66e8c !important; }
.bg-can-can-600 { background-color: #b1516d !important; }
.bg-can-can-700 { background-color: #983e55 !important; }
.bg-can-can-800 { background-color: #7e3648 !important; }
.bg-can-can-900 { background-color: #6a313f !important; }
.bg-can-can-950 { background-color: #3f1821 !important; }
.bg-can-can { background-color: #d690aa !important; }

.bg-rose-bud-50 { background-color: #fef2f3 !important; }
.bg-rose-bud-100 { background-color: #fde3e5 !important; }
.bg-rose-bud-200 { background-color: #fdcbce !important; }
.bg-rose-bud-400 { background-color: #f5747c !important; }
.bg-rose-bud-500 { background-color: #eb4852 !important; }
.bg-rose-bud-600 { background-color: #d82a35 !important; }
.bg-rose-bud-700 { background-color: #b52029 !important; }
.bg-rose-bud-800 { background-color: #961e25 !important; }
.bg-rose-bud-900 { background-color: #7d1f25 !important; }
.bg-rose-bud-950 { background-color: #440b0e !important; }
.bg-rose-bud { background-color: #fbb9bd !important; }

.bg-can-can-2-50 { background-color: #faf5f7 !important; }
.bg-can-can-2-100 { background-color: #f7ecf0 !important; }
.bg-can-can-2-200 { background-color: #f0dae3 !important; }
.bg-can-can-2-300 { background-color: #e4bdcc !important; }
.bg-can-can-2-500 { background-color: #c2728e !important; }
.bg-can-can-2-600 { background-color: #ad556e !important; }
.bg-can-can-2-700 { background-color: #934358 !important; }
.bg-can-can-2-800 { background-color: #7a3a4a !important; }
.bg-can-can-2-900 { background-color: #673440 !important; }
.bg-can-can-2-950 { background-color: #3d1a23 !important; }
.bg-can-can-2 { background-color: #d190a8 !important; }

.bg-wedgewood-50 { background-color: #f2f9f9 !important; }
.bg-wedgewood-100 { background-color: #ddeff0 !important; }
.bg-wedgewood-200 { background-color: #bfe0e2 !important; }
.bg-wedgewood-300 { background-color: #92cace !important; }
.bg-wedgewood-400 { background-color: #5faab1 !important; }
.bg-wedgewood-600 { background-color: #3b757f !important; }
.bg-wedgewood-700 { background-color: #356169 !important; }
.bg-wedgewood-800 { background-color: #325158 !important; }
.bg-wedgewood-900 { background-color: #2d464c !important; }
.bg-wedgewood-950 { background-color: #1a2c32 !important; }
.bg-wedgewood { background-color: #438e96 !important; }

.bg-delta-50 { background-color: #f8f8f8 !important; }
.bg-delta-100 { background-color: #f0f0f0 !important; }
.bg-delta-200 { background-color: #e5e5e3 !important; }
.bg-delta-300 { background-color: #d1d1d0 !important; }
.bg-delta-500 { background-color: #a6a6a3 !important; }
.bg-delta-600 { background-color: #83837f !important; }
.bg-delta-700 { background-color: #6c6c69 !important; }
.bg-delta-800 { background-color: #5b5b59 !important; }
.bg-delta-900 { background-color: #4f4f4d !important; }
.bg-delta-950 { background-color: #282827 !important; }
.bg-delta { background-color: #b6b6b3 !important; }

.bg-baltic-sea-50 { background-color: #f6f6f7 !important; }
.bg-baltic-sea-100 { background-color: #e1e1e6 !important; }
.bg-baltic-sea-200 { background-color: #c5c4cb !important; }
.bg-baltic-sea-300 { background-color: #9f9eaa !important; }
.bg-baltic-sea-400 { background-color: #7a7988 !important; }
.bg-baltic-sea-500 { background-color: #615f6d !important; }
.bg-baltic-sea-600 { background-color: #4c4b56 !important; }
.bg-baltic-sea-700 { background-color: #3f3e47 !important; }
.bg-baltic-sea-800 { background-color: #35343b !important; }
.bg-baltic-sea-900 { background-color: #2f2e33 !important; }
.bg-baltic-sea { background-color: #212025 !important; }

.bg-white-100 { background-color: #efefef !important; }
.bg-white-200 { background-color: #dcdcdc !important; }
.bg-white-300 { background-color: #bdbdbd !important; }
.bg-white-400 { background-color: #989898 !important; }
.bg-white-500 { background-color: #7c7c7c !important; }
.bg-white-600 { background-color: #656565 !important; }
.bg-white-700 { background-color: #525252 !important; }
.bg-white-800 { background-color: #464646 !important; }
.bg-white-900 { background-color: #3d3d3d !important; }
.bg-white-950 { background-color: #292929 !important; }
.bg-white { background-color: #ffffff !important; }

.bg-outer-space-50 { background-color: #f4f7f7 !important; }
.bg-outer-space-100 { background-color: #e2eaeb !important; }
.bg-outer-space-200 { background-color: #c8d7d9 !important; }
.bg-outer-space-300 { background-color: #a2bbbe !important; }
.bg-outer-space-400 { background-color: #74959c !important; }
.bg-outer-space-500 { background-color: #597a81 !important; }
.bg-outer-space-600 { background-color: #4d676d !important; }
.bg-outer-space-700 { background-color: #42565c !important; }
.bg-outer-space-800 { background-color: #3c4a4e !important; }
.bg-outer-space-950 { background-color: #20292c !important; }
.bg-outer-space { background-color: #323c40 !important; }

.bg-gray-50 { background-color: #f8f8f8 !important; }
.bg-gray-100 { background-color: #f0f0f0 !important; }
.bg-gray-200 { background-color: #e4e4e4 !important; }
.bg-gray-300 { background-color: #d1d1d1 !important; }
.bg-gray-400 { background-color: #b4b4b4 !important; }
.bg-gray-600 { background-color: #818181 !important; }
.bg-gray-700 { background-color: #6a6a6a !important; }
.bg-gray-800 { background-color: #5a5a5a !important; }
.bg-gray-900 { background-color: #4e4e4e !important; }
.bg-gray-950 { background-color: #282828 !important; }
.bg-gray { background-color: #939393 !important; }

.bg-mine-shaft-50 { background-color: #f7f7f7 !important; }
.bg-mine-shaft-100 { background-color: #e3e3e3 !important; }
.bg-mine-shaft-200 { background-color: #c8c8c8 !important; }
.bg-mine-shaft-300 { background-color: #a4a4a4 !important; }
.bg-mine-shaft-400 { background-color: #818181 !important; }
.bg-mine-shaft-500 { background-color: #666666 !important; }
.bg-mine-shaft-600 { background-color: #515151 !important; }
.bg-mine-shaft-700 { background-color: #434343 !important; }
.bg-mine-shaft-800 { background-color: #383838 !important; }
.bg-mine-shaft-900 { background-color: #313131 !important; }
.bg-mine-shaft { background-color: #242424 !important; }

.bg-robins-egg-blue-50 { background-color: #ebffff !important; }
.bg-robins-egg-blue-100 { background-color: #cefdff !important; }
.bg-robins-egg-blue-200 { background-color: #a2f8ff !important; }
.bg-robins-egg-blue-300 { background-color: #63f0fd !important; }
.bg-robins-egg-blue-400 { background-color: #1cdef4 !important; }
.bg-robins-egg-blue-600 { background-color: #039ab7 !important; }
.bg-robins-egg-blue-700 { background-color: #0a7a94 !important; }
.bg-robins-egg-blue-800 { background-color: #126278 !important; }
.bg-robins-egg-blue-900 { background-color: #145265 !important; }
.bg-robins-egg-blue-950 { background-color: #063646 !important; }
.bg-robins-egg-blue { background-color: #00bcd4 !important; }

.bg-malachite-50 { background-color: #eefff4 !important; }
.bg-malachite-100 { background-color: #d7ffe6 !important; }
.bg-malachite-200 { background-color: #b2ffd0 !important; }
.bg-malachite-300 { background-color: #76ffac !important; }
.bg-malachite-400 { background-color: #33f581 !important; }
.bg-malachite-500 { background-color: #09de5f !important; }
.bg-malachite-700 { background-color: #04913e !important; }
.bg-malachite-800 { background-color: #0a7135 !important; }
.bg-malachite-900 { background-color: #0a5d2e !important; }
.bg-malachite-950 { background-color: #003417 !important; }
.bg-malachite { background-color: #00c851 !important; }

.bg-dodger-blue-50 { background-color: #eefaff !important; }
.bg-dodger-blue-100 { background-color: #daf3ff !important; }
.bg-dodger-blue-200 { background-color: #bdebff !important; }
.bg-dodger-blue-300 { background-color: #8fe0ff !important; }
.bg-dodger-blue-400 { background-color: #5accff !important; }
.bg-dodger-blue-500 { background-color: #34b1fd !important; }
.bg-dodger-blue-700 { background-color: #167bdf !important; }
.bg-dodger-blue-800 { background-color: #1863b5 !important; }
.bg-dodger-blue-900 { background-color: #1a548e !important; }
.bg-dodger-blue-950 { background-color: #153456 !important; }
.bg-dodger-blue { background-color: #2196f3 !important; }

.bg-coral-red-50 { background-color: #fff1f1 !important; }
.bg-coral-red-100 { background-color: #ffdfdf !important; }
.bg-coral-red-200 { background-color: #ffc5c5 !important; }
.bg-coral-red-300 { background-color: #ff9d9d !important; }
.bg-coral-red-400 { background-color: #ff6464 !important; }
.bg-coral-red-600 { background-color: #ed1515 !important; }
.bg-coral-red-700 { background-color: #c80d0d !important; }
.bg-coral-red-800 { background-color: #a50f0f !important; }
.bg-coral-red-900 { background-color: #881414 !important; }
.bg-coral-red-950 { background-color: #4b0404 !important; }
.bg-coral-red { background-color: #ff4444 !important; }

.bg-gorse-50 { background-color: #fefde8 !important; }
.bg-gorse-100 { background-color: #fefdc3 !important; }
.bg-gorse-200 { background-color: #fdf68b !important; }
.bg-gorse-400 { background-color: #f9d916 !important; }
.bg-gorse-500 { background-color: #e9c009 !important; }
.bg-gorse-600 { background-color: #c99605 !important; }
.bg-gorse-700 { background-color: #a06c08 !important; }
.bg-gorse-800 { background-color: #84540f !important; }
.bg-gorse-900 { background-color: #704513 !important; }
.bg-gorse-950 { background-color: #422406 !important; }
.bg-gorse { background-color: #fceb4c !important; }

.bg-burnt-sienna-50 { background-color: #fef2f2 !important; }
.bg-burnt-sienna-100 { background-color: #fee3e2 !important; }
.bg-burnt-sienna-200 { background-color: #feccca !important; }
.bg-burnt-sienna-300 { background-color: #fca8a5 !important; }
.bg-burnt-sienna-400 { background-color: #f87671 !important; }
.bg-burnt-sienna-600 { background-color: #dc2d26 !important; }
.bg-burnt-sienna-700 { background-color: #b9221c !important; }
.bg-burnt-sienna-800 { background-color: #99201b !important; }
.bg-burnt-sienna-900 { background-color: #7f211d !important; }
.bg-burnt-sienna-950 { background-color: #450c0a !important; }
.bg-burnt-sienna { background-color: #f05a54 !important; }

.bg-spring-green-50 { background-color: #eefff5 !important; }
.bg-spring-green-100 { background-color: #d8ffeb !important; }
.bg-spring-green-200 { background-color: #b3ffd7 !important; }
.bg-spring-green-300 { background-color: #78fdb8 !important; }
.bg-spring-green-500 { background-color: #0dda71 !important; }
.bg-spring-green-600 { background-color: #03b65b !important; }
.bg-spring-green-700 { background-color: #078e4a !important; }
.bg-spring-green-800 { background-color: #0c6f3e !important; }
.bg-spring-green-900 { background-color: #0c5b35 !important; }
.bg-spring-green-950 { background-color: #00331b !important; }
.bg-spring-green { background-color: #21f086 !important; }

.bg-picton-blue-50 { background-color: #eff9ff !important; }
.bg-picton-blue-100 { background-color: #dceffd !important; }
.bg-picton-blue-200 { background-color: #c1e4fc !important; }
.bg-picton-blue-300 { background-color: #96d5fa !important; }
.bg-picton-blue-400 { background-color: #65bcf5 !important; }
.bg-picton-blue-600 { background-color: #2b83e5 !important; }
.bg-picton-blue-700 { background-color: #236dd2 !important; }
.bg-picton-blue-800 { background-color: #2258ab !important; }
.bg-picton-blue-900 { background-color: #214c87 !important; }
.bg-picton-blue-950 { background-color: #192f52 !important; }
.bg-picton-blue { background-color: #3c9df0 !important; }

.bg-corn-50 { background-color: #fefde8 !important; }
.bg-corn-100 { background-color: #fefdc3 !important; }
.bg-corn-200 { background-color: #fdf78b !important; }
.bg-corn-300 { background-color: #fcea48 !important; }
.bg-corn-400 { background-color: #f9d916 !important; }
.bg-corn-600 { background-color: #c99605 !important; }
.bg-corn-700 { background-color: #a06b08 !important; }
.bg-corn-800 { background-color: #84540f !important; }
.bg-corn-900 { background-color: #714512 !important; }
.bg-corn-950 { background-color: #422406 !important; }
.bg-corn { background-color: #e9c009 !important; }

.bg-amber-50 { background-color: #fffbeb !important; }
.bg-amber-100 { background-color: #fef3c7 !important; }
.bg-amber-200 { background-color: #fde68a !important; }
.bg-amber-300 { background-color: #fcd34d !important; }
.bg-amber-400 { background-color: #fbbf24 !important; }
.bg-amber-600 { background-color: #d97706 !important; }
.bg-amber-700 { background-color: #b45309 !important; }
.bg-amber-800 { background-color: #92400e !important; }
.bg-amber-900 { background-color: #78350f !important; }
.bg-amber-950 { background-color: #451a03 !important; }
.bg-amber { background-color: #f59e0b !important; }

.bg-fun-blue-50 { background-color: #f2f7fd !important; }
.bg-fun-blue-100 { background-color: #e4edfa !important; }
.bg-fun-blue-200 { background-color: #c2dcf5 !important; }
.bg-fun-blue-300 { background-color: #8cbeed !important; }
.bg-fun-blue-400 { background-color: #4f9de1 !important; }
.bg-fun-blue-500 { background-color: #2880cf !important; }
.bg-fun-blue-700 { background-color: #16518e !important; }
.bg-fun-blue-800 { background-color: #164676 !important; }
.bg-fun-blue-900 { background-color: #183b62 !important; }
.bg-fun-blue-950 { background-color: #102541 !important; }
.bg-fun-blue { background-color: #1964af !important; }

.bg-regent-gray-50 { background-color: #f5f8f8 !important; }
.bg-regent-gray-100 { background-color: #edf1f2 !important; }
.bg-regent-gray-200 { background-color: #dee5e7 !important; }
.bg-regent-gray-300 { background-color: #c9d3d8 !important; }
.bg-regent-gray-400 { background-color: #b2bfc7 !important; }
.bg-regent-gray-500 { background-color: #9dabb7 !important; }
.bg-regent-gray-600 { background-color: #7d8b9c !important; }
.bg-regent-gray-700 { background-color: #747f8e !important; }
.bg-regent-gray-800 { background-color: #5f6974 !important; }
.bg-regent-gray-900 { background-color: #50575f !important; }
.bg-regent-gray-950 { background-color: #2f3337 !important; }

.bg-seance-50 { background-color: #fcf5fe !important; }
.bg-seance-100 { background-color: #f8e9fe !important; }
.bg-seance-200 { background-color: #f1d3fb !important; }
.bg-seance-300 { background-color: #e9b0f7 !important; }
.bg-seance-400 { background-color: #dc81f1 !important; }
.bg-seance-500 { background-color: #c850e5 !important; }
.bg-seance-600 { background-color: #af30c9 !important; }
.bg-seance-800 { background-color: #7a2088 !important; }
.bg-seance-900 { background-color: #661f70 !important; }
.bg-seance-950 { background-color: #42084a !important; }
.bg-seance { background-color: #9c27b0 !important; }

.bg-pomegranate-50 { background-color: #fef4ee !important; }
.bg-pomegranate-100 { background-color: #fde6d7 !important; }
.bg-pomegranate-200 { background-color: #f9caaf !important; }
.bg-pomegranate-300 { background-color: #f6a57b !important; }
.bg-pomegranate-400 { background-color: #f17646 !important; }
.bg-pomegranate-600 { background-color: #de3a18 !important; }
.bg-pomegranate-700 { background-color: #b82916 !important; }
.bg-pomegranate-800 { background-color: #932319 !important; }
.bg-pomegranate-900 { background-color: #762018 !important; }
.bg-pomegranate-950 { background-color: #400d0a !important; }
.bg-pomegranate { background-color: #ec4c1a !important; }

.bg-pizazz-50 { background-color: #fffbec !important; }
.bg-pizazz-100 { background-color: #fff6d3 !important; }
.bg-pizazz-200 { background-color: #ffeaa5 !important; }
.bg-pizazz-300 { background-color: #ffd86d !important; }
.bg-pizazz-400 { background-color: #ffbb32 !important; }
.bg-pizazz-500 { background-color: #ffa40a !important; }
.bg-pizazz-700 { background-color: #cc6702 !important; }
.bg-pizazz-800 { background-color: #a14f0b !important; }
.bg-pizazz-900 { background-color: #82420c !important; }
.bg-pizazz-950 { background-color: #462004 !important; }
.bg-pizazz { background-color: #ff8c00 !important; }

.bg-bright-sun-50 { background-color: #fffaeb !important; }
.bg-bright-sun-100 { background-color: #fff0c6 !important; }
.bg-bright-sun-200 { background-color: #fee289 !important; }
.bg-bright-sun-400 { background-color: #feb621 !important; }
.bg-bright-sun-500 { background-color: #f89408 !important; }
.bg-bright-sun-600 { background-color: #db6d04 !important; }
.bg-bright-sun-700 { background-color: #b64b07 !important; }
.bg-bright-sun-800 { background-color: #943a0c !important; }
.bg-bright-sun-900 { background-color: #79300e !important; }
.bg-bright-sun-950 { background-color: #461702 !important; }
.bg-bright-sun { background-color: #fec941 !important; }

.bg-azure-radiance-50 { background-color: #eff8ff !important; }
.bg-azure-radiance-100 { background-color: #def0ff !important; }
.bg-azure-radiance-200 { background-color: #b6e3ff !important; }
.bg-azure-radiance-300 { background-color: #75cfff !important; }
.bg-azure-radiance-400 { background-color: #2cb7ff !important; }
.bg-azure-radiance-600 { background-color: #007dd4 !important; }
.bg-azure-radiance-700 { background-color: #0063ab !important; }
.bg-azure-radiance-800 { background-color: #00548d !important; }
.bg-azure-radiance-900 { background-color: #064674 !important; }
.bg-azure-radiance-950 { background-color: #042c4d !important; }
.bg-azure-radiance { background-color: #00a3ff !important; }

.bg-bright-turquoise-50 { background-color: #e7fff8 !important; }
.bg-bright-turquoise-100 { background-color: #c6ffed !important; }
.bg-bright-turquoise-200 { background-color: #92ffe1 !important; }
.bg-bright-turquoise-300 { background-color: #4dffd7 !important; }
.bg-bright-turquoise-500 { background-color: #00e7b0 !important; }
.bg-bright-turquoise-600 { background-color: #00bd92 !important; }
.bg-bright-turquoise-700 { background-color: #00977a !important; }
.bg-bright-turquoise-800 { background-color: #007761 !important; }
.bg-bright-turquoise-900 { background-color: #006151 !important; }
.bg-bright-turquoise-950 { background-color: #003730 !important; }
.bg-bright-turquoise { background-color: #01fcc3 !important; }

.bg-turquoise-50 { background-color: #ebfef7 !important; }
.bg-turquoise-100 { background-color: #cefdea !important; }
.bg-turquoise-200 { background-color: #a2f8da !important; }
.bg-turquoise-300 { background-color: #66efc9 !important; }
.bg-turquoise-500 { background-color: #04c59b !important; }
.bg-turquoise-600 { background-color: #00a07f !important; }
.bg-turquoise-700 { background-color: #008069 !important; }
.bg-turquoise-800 { background-color: #006555 !important; }
.bg-turquoise-900 { background-color: #015346 !important; }
.bg-turquoise-950 { background-color: #002f29 !important; }
.bg-turquoise { background-color: #3de1b8 !important; }

.bg-alice-blue-100 { background-color: #e0f1fe !important; }
.bg-alice-blue-200 { background-color: #bae4fd !important; }
.bg-alice-blue-300 { background-color: #7dcffc !important; }
.bg-alice-blue-400 { background-color: #38b8f8 !important; }
.bg-alice-blue-500 { background-color: #0e9fe9 !important; }
.bg-alice-blue-600 { background-color: #027ec7 !important; }
.bg-alice-blue-700 { background-color: #0364a1 !important; }
.bg-alice-blue-800 { background-color: #075585 !important; }
.bg-alice-blue-900 { background-color: #0c476e !important; }
.bg-alice-blue-950 { background-color: #082d49 !important; }
.bg-alice-blue { background-color: #f1f9ff !important; }

.bg-curious-blue-50 { background-color: #f1f8fe !important; }
.bg-curious-blue-100 { background-color: #e1effd !important; }
.bg-curious-blue-200 { background-color: #bddffa !important; }
.bg-curious-blue-300 { background-color: #83c6f6 !important; }
.bg-curious-blue-500 { background-color: #188edf !important; }
.bg-curious-blue-600 { background-color: #0b70be !important; }
.bg-curious-blue-700 { background-color: #0a599a !important; }
.bg-curious-blue-800 { background-color: #0d4c7f !important; }
.bg-curious-blue-900 { background-color: #114169 !important; }
.bg-curious-blue-950 { background-color: #0b2846 !important; }
.bg-curious-blue { background-color: #299eed !important; }

.bg-supernova-50 { background-color: #fffee7 !important; }
.bg-supernova-100 { background-color: #fffec1 !important; }
.bg-supernova-200 { background-color: #fff886 !important; }
.bg-supernova-300 { background-color: #ffec41 !important; }
.bg-supernova-400 { background-color: #ffdb0d !important; }
.bg-supernova-600 { background-color: #d19500 !important; }
.bg-supernova-700 { background-color: #a66a02 !important; }
.bg-supernova-800 { background-color: #89530a !important; }
.bg-supernova-900 { background-color: #74430f !important; }
.bg-supernova-950 { background-color: #442304 !important; }
.bg-supernova { background-color: #ffcc00 !important; }

.bg-eastern-blue-50 { background-color: #ecffff !important; }
.bg-eastern-blue-100 { background-color: #cffdfe !important; }
.bg-eastern-blue-200 { background-color: #a6f8fb !important; }
.bg-eastern-blue-300 { background-color: #68f2f8 !important; }
.bg-eastern-blue-400 { background-color: #24e1ec !important; }
.bg-eastern-blue-500 { background-color: #08c4d2 !important; }
.bg-eastern-blue-700 { background-color: #0f7c8f !important; }
.bg-eastern-blue-800 { background-color: #166574 !important; }
.bg-eastern-blue-900 { background-color: #175462 !important; }
.bg-eastern-blue-950 { background-color: #093743 !important; }
.bg-eastern-blue { background-color: #0994a7 !important; }

.bg-casal-50 { background-color: #e8fffb !important; }
.bg-casal-100 { background-color: #c4fff5 !important; }
.bg-casal-200 { background-color: #91ffec !important; }
.bg-casal-300 { background-color: #46ffdf !important; }
.bg-casal-400 { background-color: #00ffdd !important; }
.bg-casal-500 { background-color: #00fffb !important; }
.bg-casal-600 { background-color: #00ced9 !important; }
.bg-casal-700 { background-color: #00a3ae !important; }
.bg-casal-800 { background-color: #00818b !important; }
.bg-casal-950 { background-color: #004752 !important; }
.bg-casal { background-color: #045d67 !important; }

.bg-grenadier-50 { background-color: #fef5ee !important; }
.bg-grenadier-100 { background-color: #fde9d7 !important; }
.bg-grenadier-200 { background-color: #facfae !important; }
.bg-grenadier-300 { background-color: #f6ae7b !important; }
.bg-grenadier-400 { background-color: #f18246 !important; }
.bg-grenadier-500 { background-color: #ee6021 !important; }
.bg-grenadier-700 { background-color: #b93515 !important; }
.bg-grenadier-800 { background-color: #932b19 !important; }
.bg-grenadier-900 { background-color: #772617 !important; }
.bg-grenadier-950 { background-color: #40110a !important; }
.bg-grenadier { background-color: #d44416 !important; }

.bg-tango-50 { background-color: #fef7ee !important; }
.bg-tango-100 { background-color: #fdeed7 !important; }
.bg-tango-200 { background-color: #fad9ae !important; }
.bg-tango-300 { background-color: #f7bd7a !important; }
.bg-tango-400 { background-color: #f29745 !important; }
.bg-tango-600 { background-color: #e06016 !important; }
.bg-tango-700 { background-color: #ba4814 !important; }
.bg-tango-800 { background-color: #943a18 !important; }
.bg-tango-900 { background-color: #773117 !important; }
.bg-tango-950 { background-color: #40170a !important; }
.bg-tango { background-color: #ee7416 !important; }

.bg-pearl-bush-50 { background-color: #f8f7f4 !important; }
.bg-pearl-bush-100 { background-color: #efece5 !important; }
.bg-pearl-bush-300 { background-color: #cabea7 !important; }
.bg-pearl-bush-400 { background-color: #b49f83 !important; }
.bg-pearl-bush-500 { background-color: #a58a6a !important; }
.bg-pearl-bush-600 { background-color: #97795f !important; }
.bg-pearl-bush-700 { background-color: #7e6350 !important; }
.bg-pearl-bush-800 { background-color: #675145 !important; }
.bg-pearl-bush-900 { background-color: #554439 !important; }
.bg-pearl-bush-950 { background-color: #2d231d !important; }
.bg-pearl-bush { background-color: #e4ded2 !important; }

.bg-red-oxide-50 { background-color: #fff0f0 !important; }
.bg-red-oxide-100 { background-color: #ffdddd !important; }
.bg-red-oxide-200 { background-color: #ffc1c1 !important; }
.bg-red-oxide-300 { background-color: #ff9696 !important; }
.bg-red-oxide-400 { background-color: #ff5a5a !important; }
.bg-red-oxide-500 { background-color: #ff2727 !important; }
.bg-red-oxide-600 { background-color: #fb0707 !important; }
.bg-red-oxide-700 { background-color: #d40101 !important; }
.bg-red-oxide-800 { background-color: #ae0606 !important; }
.bg-red-oxide-900 { background-color: #900c0c !important; }
.bg-red-oxide { background-color: #750000 !important; }

.bg-chicago-50 { background-color: #f6f6f6 !important; }
.bg-chicago-100 { background-color: #e7e7e7 !important; }
.bg-chicago-200 { background-color: #d1d1d1 !important; }
.bg-chicago-300 { background-color: #b0b0b0 !important; }
.bg-chicago-400 { background-color: #888888 !important; }
.bg-chicago-500 { background-color: #6d6d6d !important; }
.bg-chicago-700 { background-color: #4f4f4f !important; }
.bg-chicago-800 { background-color: #454545 !important; }
.bg-chicago-900 { background-color: #3d3d3d !important; }
.bg-chicago-950 { background-color: #262626 !important; }
.bg-chicago { background-color: #575757 !important; }

.bg-fire-bush-50 { background-color: #fffcea !important; }
.bg-fire-bush-100 { background-color: #fff5c5 !important; }
.bg-fire-bush-200 { background-color: #ffeb85 !important; }
.bg-fire-bush-300 { background-color: #ffda46 !important; }
.bg-fire-bush-400 { background-color: #ffc71b !important; }
.bg-fire-bush-500 { background-color: #f09b00 !important; }
.bg-fire-bush-600 { background-color: #e27c00 !important; }
.bg-fire-bush-700 { background-color: #bb5502 !important; }
.bg-fire-bush-800 { background-color: #984208 !important; }
.bg-fire-bush-900 { background-color: #7c360b !important; }
.bg-fire-bush-950 { background-color: #481a00 !important; }
.bg-fire-bush { background-color: #f09b00 !important; }

.bg-tangaroa-50 { background-color: #e9f5ff !important; }
.bg-tangaroa-100 { background-color: #d7eeff !important; }
.bg-tangaroa-200 { background-color: #b7ddff !important; }
.bg-tangaroa-300 { background-color: #8bc5ff !important; }
.bg-tangaroa-400 { background-color: #5e9fff !important; }
.bg-tangaroa-500 { background-color: #3977ff !important; }
.bg-tangaroa-600 { background-color: #174bff !important; }
.bg-tangaroa-700 { background-color: #0d3ef5 !important; }
.bg-tangaroa-800 { background-color: #0e38c5 !important; }
.bg-tangaroa-900 { background-color: #163899 !important; }
.bg-tangaroa-950 { background-color: #09153e !important; }
.bg-tangaroa { background-color: #09153e !important; }

.bg-sunglow-50 { background-color: #fefae8 !important; }
.bg-sunglow-100 { background-color: #fff5c2 !important; }
.bg-sunglow-200 { background-color: #ffe789 !important; }
.bg-sunglow-300 { background-color: #ffce38 !important; }
.bg-sunglow-400 { background-color: #fdba12 !important; }
.bg-sunglow-500 { background-color: #eca006 !important; }
.bg-sunglow-600 { background-color: #cc7902 !important; }
.bg-sunglow-700 { background-color: #a35405 !important; }
.bg-sunglow-800 { background-color: #86420d !important; }
.bg-sunglow-900 { background-color: #723711 !important; }
.bg-sunglow-950 { background-color: #431b05 !important; }
.bg-sunglow { background-color: #ffce38 !important; }

.bg-minsk-50 { background-color: #eff3fe !important; }
.bg-minsk-100 { background-color: #e2e8fd !important; }
.bg-minsk-200 { background-color: #cad3fb !important; }
.bg-minsk-300 { background-color: #aab6f7 !important; }
.bg-minsk-400 { background-color: #888ff1 !important; }
.bg-minsk-500 { background-color: #6b6ce9 !important; }
.bg-minsk-600 { background-color: #594fdc !important; }
.bg-minsk-700 { background-color: #4c40c2 !important; }
.bg-minsk-800 { background-color: #3f369d !important; }
.bg-minsk-900 { background-color: #393582 !important; }
.bg-minsk-950 { background-color: #211e48 !important; }
.bg-minsk { background-color: #393582 !important; }

.bg-periwinkle-gray-50 { background-color: #f3f5fa !important; }
.bg-periwinkle-gray-100 { background-color: #e9ecf6 !important; }
.bg-periwinkle-gray-200 { background-color: #cfd5ea !important; }
.bg-periwinkle-gray-300 { background-color: #bfc6e2 !important; }
.bg-periwinkle-gray-400 { background-color: #a4aad5 !important; }
.bg-periwinkle-gray-500 { background-color: #8d8fc7 !important; }
.bg-periwinkle-gray-600 { background-color: #7875b6 !important; }
.bg-periwinkle-gray-700 { background-color: #67639f !important; }
.bg-periwinkle-gray-800 { background-color: #545281 !important; }
.bg-periwinkle-gray-900 { background-color: #474768 !important; }
.bg-periwinkle-gray-950 { background-color: #2a293d !important; }
.bg-periwinkle-gray { background-color: #cfd5ea !important; }

.bg-zircon-50 { background-color: #f3f5fa !important; }
.bg-zircon-100 { background-color: #e9ebf5 !important; }
.bg-zircon-200 { background-color: #d8dbed !important; }
.bg-zircon-300 { background-color: #c0c4e1 !important; }
.bg-zircon-400 { background-color: #a6a7d3 !important; }
.bg-zircon-500 { background-color: #918fc5 !important; }
.bg-zircon-600 { background-color: #7e78b3 !important; }
.bg-zircon-700 { background-color: #6d669c !important; }
.bg-zircon-800 { background-color: #5a547f !important; }
.bg-zircon-900 { background-color: #4b4867 !important; }
.bg-zircon-950 { background-color: #2c2a3c !important; }
.bg-zircon { background-color: #e9ebf5 !important; }

.bg-fuscous-gray-50 { background-color: #f6f6f6 !important; }
.bg-fuscous-gray-100 { background-color: #e7e7e7 !important; }
.bg-fuscous-gray-200 { background-color: #d1d1d1 !important; }
.bg-fuscous-gray-300 { background-color: #b0b0b0 !important; }
.bg-fuscous-gray-400 { background-color: #888888 !important; }
.bg-fuscous-gray-500 { background-color: #6d6d6d !important; }
.bg-fuscous-gray-600 { background-color: #5d5d5d !important; }
.bg-fuscous-gray-700 { background-color: #4e4e4e !important; }
.bg-fuscous-gray-800 { background-color: #454545 !important; }
.bg-fuscous-gray-900 { background-color: #3d3d3d !important; }
.bg-fuscous-gray-950 { background-color: #262626 !important; }
.bg-fuscous-gray { background-color: #4e4e4e !important; }

.bg-blue-dianne-50 { background-color: #f0f9fb !important; }
.bg-blue-dianne-100 { background-color: #d9eff4 !important; }
.bg-blue-dianne-200 { background-color: #b8e1e9 !important; }
.bg-blue-dianne-300 { background-color: #87cad9 !important; }
.bg-blue-dianne-400 { background-color: #4fabc1 !important; }
.bg-blue-dianne-500 { background-color: #338fa7 !important; }
.bg-blue-dianne-600 { background-color: #2d748d !important; }
.bg-blue-dianne-700 { background-color: #2b5f73 !important; }
.bg-blue-dianne-800 { background-color: #2c5364 !important; }
.bg-blue-dianne-900 { background-color: #274352 !important; }
.bg-blue-dianne-950 { background-color: #152b37 !important; }

.bg-port-gore-50 { background-color: #eff3fe !important; }
.bg-port-gore-100 { background-color: #e1eafe !important; }
.bg-port-gore-200 { background-color: #c9d6fc !important; }
.bg-port-gore-300 { background-color: #a8bbf9 !important; }
.bg-port-gore-400 { background-color: #8596f4 !important; }
.bg-port-gore-500 { background-color: #6872ec !important; }
.bg-port-gore-600 { background-color: #4b4be0 !important; }
.bg-port-gore-700 { background-color: #3e3dc5 !important; }
.bg-port-gore-800 { background-color: #34359f !important; }
.bg-port-gore-900 { background-color: #31337e !important; }
.bg-port-gore-950 { background-color: #23235a !important; }
.bg-port-gore { background-color: #23235a !important; }

.bg-biscay-50 { background-color: #f2f5fc !important; }
.bg-biscay-100 { background-color: #e1e8f8 !important; }
.bg-biscay-200 { background-color: #cad7f3 !important; }
.bg-biscay-300 { background-color: #a6bdea !important; }
.bg-biscay-400 { background-color: #7c9bde !important; }
.bg-biscay-500 { background-color: #5d7bd4 !important; }
.bg-biscay-600 { background-color: #4960c7 !important; }
.bg-biscay-700 { background-color: #3f4fb6 !important; }
.bg-biscay-800 { background-color: #384295 !important; }
.bg-biscay-900 { background-color: #2c3469 !important; }
.bg-biscay-950 { background-color: #222649 !important; }
.bg-biscay { background-color: #2c3469 !important; }

.bg-transparent { background-color: transparent !important; }