.emerald-50 { color: #f1fcf2 !important; }
.emerald-100 { color: #defae2 !important; }
.emerald-200 { color: #bff3c7 !important; }
.emerald-300 { color: #8de89c !important; }
.emerald-500 { color: #2cbb44 !important; }
.emerald-600 { color: #1f9a33 !important; }
.emerald-700 { color: #1c792c !important; }
.emerald-800 { color: #1b6027 !important; }
.emerald-900 { color: #184f23 !important; }
.emerald-950 { color: #082b0f !important; }
.emerald { color: #45d15c !important; }

.ebony-50 { color: #f2f5fb !important; }
.ebony-100 { color: #d5e0f2 !important; }
.ebony-200 { color: #abbfe4 !important; }
.ebony-300 { color: #7994cf !important; }
.ebony-400 { color: #4d6ab4 !important; }
.ebony-500 { color: #334e99 !important; }
.ebony-600 { color: #273b7a !important; }
.ebony-700 { color: #233162 !important; }
.ebony-800 { color: #202a4f !important; }
.ebony-900 { color: #1e2743 !important; }
.ebony { color: #050710 !important; }

.dove-gray-50 { color: #f7f7f7 !important; }
.dove-gray-100 { color: #e3e3e3 !important; }
.dove-gray-200 { color: #c8c8c8 !important; }
.dove-gray-300 { color: #a4a4a4 !important; }
.dove-gray-400 { color: #818181 !important; }
.dove-gray-600 { color: #515151 !important; }
.dove-gray-700 { color: #434343 !important; }
.dove-gray-800 { color: #383838 !important; }
.dove-gray-900 { color: #313131 !important; }
.dove-gray-950 { color: #1a1a1a !important; }
.dove-gray { color: #737373 !important; }

.silver-chalice-50 { color: #f8f8f8 !important; }
.silver-chalice-100 { color: #f0f0f0 !important; }
.silver-chalice-200 { color: #e4e4e4 !important; }
.silver-chalice-300 { color: #d1d1d1 !important; }
.silver-chalice-400 { color: #b4b4b4 !important; }
.silver-chalice-600 { color: #818181 !important; }
.silver-chalice-700 { color: #6a6a6a !important; }
.silver-chalice-800 { color: #5a5a5a !important; }
.silver-chalice-900 { color: #4e4e4e !important; }
.silver-chalice-950 { color: #282828 !important; }
.silver-chalice { color: #a6a6a6 !important; }

.lunar-green-50 { color: #f6f7f6 !important; }
.lunar-green-100 { color: #e3e4e3 !important; }
.lunar-green-200 { color: #c7c8c7 !important; }
.lunar-green-300 { color: #a3a5a3 !important; }
.lunar-green-400 { color: #7f827f !important; }
.lunar-green-500 { color: #656864 !important; }
.lunar-green-600 { color: #4f524f !important; }
.lunar-green-800 { color: #373837 !important; }
.lunar-green-900 { color: #303130 !important; }
.lunar-green-950 { color: #191a19 !important; }
.lunar-green { color: #3e403e !important; }

.black-haze-100 { color: #eff0f0 !important; }
.black-haze-200 { color: #dadddd !important; }
.black-haze-300 { color: #babfbf !important; }
.black-haze-400 { color: #959b9b !important; }
.black-haze-500 { color: #787f7e !important; }
.black-haze-600 { color: #616867 !important; }
.black-haze-700 { color: #4f5555 !important; }
.black-haze-800 { color: #444847 !important; }
.black-haze-900 { color: #3b3f3f !important; }
.black-haze-950 { color: #272a2a !important; }
.black-haze { color: #f7f8f8 !important; }

.cold-gray-50 { color: #f6f7f6 !important; }
.cold-gray-100 { color: #e3e4e3 !important; }
.cold-gray-200 { color: #c7c8c7 !important; }
.cold-gray-300 { color: #a3a5a3 !important; }
.cold-gray-400 { color: #7f827f !important; }
.cold-gray-500 { color: #656864 !important; }
.cold-gray-600 { color: #4f524f !important; }
.cold-gray-800 { color: #373837 !important; }
.cold-gray-900 { color: #303130 !important; }
.cold-gray-950 { color: #191a19 !important; }
.cold-gray { color: #3e403e !important; }

.black-50 { color: #f7f7f7 !important; }
.black-100 { color: #e3e3e3 !important; }
.black-200 { color: #c8c8c8 !important; }
.black-300 { color: #a4a4a4 !important; }
.black-400 { color: #818181 !important; }
.black-500 { color: #666666 !important; }
.black-600 { color: #515151 !important; }
.black-700 { color: #434343 !important; }
.black-800 { color: #383838 !important; }
.black-900 { color: #313131 !important; }
.black { color: #000000 !important; }

.emperor-50 { color: #f7f7f7 !important; }
.emperor-100 { color: #e3e3e3 !important; }
.emperor-200 { color: #c8c8c8 !important; }
.emperor-300 { color: #a4a4a4 !important; }
.emperor-400 { color: #818181 !important; }
.emperor-500 { color: #666666 !important; }
.emperor-700 { color: #434343 !important; }
.emperor-800 { color: #383838 !important; }
.emperor-900 { color: #313131 !important; }
.emperor-950 { color: #1a1a1a !important; }
.emperor { color: #545454 !important; }

.scarlet-50 { color: #fff0f0 !important; }
.scarlet-100 { color: #ffdfde !important; }
.scarlet-200 { color: #ffc5c3 !important; }
.scarlet-300 { color: #ff9c99 !important; }
.scarlet-400 { color: #ff635e !important; }
.scarlet-500 { color: #ff332c !important; }
.scarlet-700 { color: #cf0c06 !important; }
.scarlet-800 { color: #ab0e09 !important; }
.scarlet-900 { color: #8d130f !important; }
.scarlet-950 { color: #4d0402 !important; }
.scarlet { color: #f62019 !important; }

.shamrock-50 { color: #edfcf6 !important; }
.shamrock-100 { color: #d3f8e8 !important; }
.shamrock-200 { color: #abefd6 !important; }
.shamrock-300 { color: #74e1bf !important; }
.shamrock-500 { color: #18b18b !important; }
.shamrock-600 { color: #0c8f71 !important; }
.shamrock-700 { color: #0a725e !important; }
.shamrock-800 { color: #0a5b4b !important; }
.shamrock-900 { color: #094b3e !important; }
.shamrock-950 { color: #042a24 !important; }
.shamrock { color: #34c59c !important; }

.jelly-bean-50 { color: #f2fbfa !important; }
.jelly-bean-100 { color: #d2f5f3 !important; }
.jelly-bean-200 { color: #a5eae8 !important; }
.jelly-bean-300 { color: #70d8d8 !important; }
.jelly-bean-400 { color: #42bcbf !important; }
.jelly-bean-600 { color: #1e7c83 !important; }
.jelly-bean-700 { color: #1c6369 !important; }
.jelly-bean-800 { color: #1b4e54 !important; }
.jelly-bean-900 { color: #1a4347 !important; }
.jelly-bean-950 { color: #09262a !important; }
.jelly-bean { color: #258f94 !important; }

.woodsmoke-50 { color: #f6f6f7 !important; }
.woodsmoke-100 { color: #e1e3e6 !important; }
.woodsmoke-200 { color: #c2c6cd !important; }
.woodsmoke-300 { color: #9ca1ac !important; }
.woodsmoke-400 { color: #767d8b !important; }
.woodsmoke-500 { color: #5c6270 !important; }
.woodsmoke-600 { color: #484d59 !important; }
.woodsmoke-700 { color: #3c3f49 !important; }
.woodsmoke-800 { color: #33353c !important; }
.woodsmoke-900 { color: #2d2e34 !important; }
.woodsmoke-950 { color: #16171b !important; }

.gold-50 { color: #ffffe7 !important; }
.gold-100 { color: #feffc1 !important; }
.gold-200 { color: #fffd86 !important; }
.gold-300 { color: #fff441 !important; }
.gold-400 { color: #ffe50d !important; }
.gold-600 { color: #d19d00 !important; }
.gold-700 { color: #a67102 !important; }
.gold-800 { color: #89580a !important; }
.gold-900 { color: #74470f !important; }
.gold-950 { color: #442504 !important; }
.gold { color: #f9d100 !important; }

.turquoise-blue-50 { color: #eefdfd !important; }
.turquoise-blue-100 { color: #d4f9f9 !important; }
.turquoise-blue-200 { color: #aef2f3 !important; }
.turquoise-blue-400 { color: #37d2d9 !important; }
.turquoise-blue-500 { color: #1cb6be !important; }
.turquoise-blue-600 { color: #1a92a0 !important; }
.turquoise-blue-700 { color: #1c7582 !important; }
.turquoise-blue-800 { color: #1f606b !important; }
.turquoise-blue-900 { color: #1e505b !important; }
.turquoise-blue-950 { color: #0e343e !important; }
.turquoise-blue { color: #6ce5e8 !important; }

.scooter-50 { color: #eefbfd !important; }
.scooter-100 { color: #d5f3f8 !important; }
.scooter-200 { color: #b0e6f1 !important; }
.scooter-300 { color: #7ad3e6 !important; }
.scooter-500 { color: #2099ba !important; }
.scooter-600 { color: #1e7c9c !important; }
.scooter-700 { color: #1f657f !important; }
.scooter-800 { color: #215369 !important; }
.scooter-900 { color: #204659 !important; }
.scooter-950 { color: #102d3c !important; }
.scooter { color: #41b8d5 !important; }

.boston-blue-50 { color: #f2f9fd !important; }
.boston-blue-100 { color: #e5f1f9 !important; }
.boston-blue-200 { color: #c4e2f3 !important; }
.boston-blue-300 { color: #91cae8 !important; }
.boston-blue-400 { color: #56aeda !important; }
.boston-blue-600 { color: #2177a8 !important; }
.boston-blue-700 { color: #1c6088 !important; }
.boston-blue-800 { color: #1b5171 !important; }
.boston-blue-900 { color: #1b445f !important; }
.boston-blue-950 { color: #122c3f !important; }
.boston-blue { color: #2d8bba !important; }

.st-tropaz-50 { color: #f3f6fc !important; }
.st-tropaz-100 { color: #e7eef7 !important; }
.st-tropaz-200 { color: #c9d9ee !important; }
.st-tropaz-300 { color: #9abbdf !important; }
.st-tropaz-400 { color: #6497cc !important; }
.st-tropaz-500 { color: #417ab6 !important; }
.st-tropaz-700 { color: #274d7d !important; }
.st-tropaz-800 { color: #244268 !important; }
.st-tropaz-900 { color: #233957 !important; }
.st-tropaz-950 { color: #17253a !important; }
.st-tropaz { color: #2f5f98 !important; }

.rhino-50 { color: #f2f4fc !important; }
.rhino-100 { color: #e2e7f7 !important; }
.rhino-200 { color: #ccd5f1 !important; }
.rhino-300 { color: #a8bae8 !important; }
.rhino-400 { color: #7f96db !important; }
.rhino-500 { color: #6176d0 !important; }
.rhino-600 { color: #4d5bc3 !important; }
.rhino-700 { color: #434bb2 !important; }
.rhino-800 { color: #3b3f92 !important; }
.rhino-950 { color: #232548 !important; }
.rhino { color: #31356e !important; }

.bouquet-50 { color: #f9f6f9 !important; }
.bouquet-100 { color: #f5eef4 !important; }
.bouquet-200 { color: #edddeb !important; }
.bouquet-300 { color: #dec3da !important; }
.bouquet-400 { color: #c99dc2 !important; }
.bouquet-500 { color: #b67eac !important; }
.bouquet-700 { color: #884e78 !important; }
.bouquet-800 { color: #714364 !important; }
.bouquet-900 { color: #603b56 !important; }
.bouquet-950 { color: #381f31 !important; }
.bouquet { color: #a66c98 !important; }

.can-can-50 { color: #faf5f7 !important; }
.can-can-100 { color: #f7ecf0 !important; }
.can-can-200 { color: #f1d9e3 !important; }
.can-can-300 { color: #e6bbcb !important; }
.can-can-500 { color: #c66e8c !important; }
.can-can-600 { color: #b1516d !important; }
.can-can-700 { color: #983e55 !important; }
.can-can-800 { color: #7e3648 !important; }
.can-can-900 { color: #6a313f !important; }
.can-can-950 { color: #3f1821 !important; }
.can-can { color: #d690aa !important; }

.rose-bud-50 { color: #fef2f3 !important; }
.rose-bud-100 { color: #fde3e5 !important; }
.rose-bud-200 { color: #fdcbce !important; }
.rose-bud-400 { color: #f5747c !important; }
.rose-bud-500 { color: #eb4852 !important; }
.rose-bud-600 { color: #d82a35 !important; }
.rose-bud-700 { color: #b52029 !important; }
.rose-bud-800 { color: #961e25 !important; }
.rose-bud-900 { color: #7d1f25 !important; }
.rose-bud-950 { color: #440b0e !important; }
.rose-bud { color: #fbb9bd !important; }

.can-can-2-50 { color: #faf5f7 !important; }
.can-can-2-100 { color: #f7ecf0 !important; }
.can-can-2-200 { color: #f0dae3 !important; }
.can-can-2-300 { color: #e4bdcc !important; }
.can-can-2-500 { color: #c2728e !important; }
.can-can-2-600 { color: #ad556e !important; }
.can-can-2-700 { color: #934358 !important; }
.can-can-2-800 { color: #7a3a4a !important; }
.can-can-2-900 { color: #673440 !important; }
.can-can-2-950 { color: #3d1a23 !important; }
.can-can-2 { color: #d190a8 !important; }

.wedgewood-50 { color: #f2f9f9 !important; }
.wedgewood-100 { color: #ddeff0 !important; }
.wedgewood-200 { color: #bfe0e2 !important; }
.wedgewood-300 { color: #92cace !important; }
.wedgewood-400 { color: #5faab1 !important; }
.wedgewood-600 { color: #3b757f !important; }
.wedgewood-700 { color: #356169 !important; }
.wedgewood-800 { color: #325158 !important; }
.wedgewood-900 { color: #2d464c !important; }
.wedgewood-950 { color: #1a2c32 !important; }
.wedgewood { color: #438e96 !important; }

.delta-50 { color: #f8f8f8 !important; }
.delta-100 { color: #f0f0f0 !important; }
.delta-200 { color: #e5e5e3 !important; }
.delta-300 { color: #d1d1d0 !important; }
.delta-500 { color: #a6a6a3 !important; }
.delta-600 { color: #83837f !important; }
.delta-700 { color: #6c6c69 !important; }
.delta-800 { color: #5b5b59 !important; }
.delta-900 { color: #4f4f4d !important; }
.delta-950 { color: #282827 !important; }
.delta { color: #b6b6b3 !important; }

.baltic-sea-50 { color: #f6f6f7 !important; }
.baltic-sea-100 { color: #e1e1e6 !important; }
.baltic-sea-200 { color: #c5c4cb !important; }
.baltic-sea-300 { color: #9f9eaa !important; }
.baltic-sea-400 { color: #7a7988 !important; }
.baltic-sea-500 { color: #615f6d !important; }
.baltic-sea-600 { color: #4c4b56 !important; }
.baltic-sea-700 { color: #3f3e47 !important; }
.baltic-sea-800 { color: #35343b !important; }
.baltic-sea-900 { color: #2f2e33 !important; }
.baltic-sea { color: #212025 !important; }

.white-100 { color: #efefef !important; }
.white-200 { color: #dcdcdc !important; }
.white-300 { color: #bdbdbd !important; }
.white-400 { color: #989898 !important; }
.white-500 { color: #7c7c7c !important; }
.white-600 { color: #656565 !important; }
.white-700 { color: #525252 !important; }
.white-800 { color: #464646 !important; }
.white-900 { color: #3d3d3d !important; }
.white-950 { color: #292929 !important; }
.white { color: #ffffff !important; }

.outer-space-50 { color: #f4f7f7 !important; }
.outer-space-100 { color: #e2eaeb !important; }
.outer-space-200 { color: #c8d7d9 !important; }
.outer-space-300 { color: #a2bbbe !important; }
.outer-space-400 { color: #74959c !important; }
.outer-space-500 { color: #597a81 !important; }
.outer-space-600 { color: #4d676d !important; }
.outer-space-700 { color: #42565c !important; }
.outer-space-800 { color: #3c4a4e !important; }
.outer-space-950 { color: #20292c !important; }
.outer-space { color: #323c40 !important; }

.gray-50 { color: #f8f8f8 !important; }
.gray-100 { color: #f0f0f0 !important; }
.gray-200 { color: #e4e4e4 !important; }
.gray-300 { color: #d1d1d1 !important; }
.gray-400 { color: #b4b4b4 !important; }
.gray-600 { color: #818181 !important; }
.gray-700 { color: #6a6a6a !important; }
.gray-800 { color: #5a5a5a !important; }
.gray-900 { color: #4e4e4e !important; }
.gray-950 { color: #282828 !important; }
.gray { color: #939393 !important; }

.mine-shaft-50 { color: #f7f7f7 !important; }
.mine-shaft-100 { color: #e3e3e3 !important; }
.mine-shaft-200 { color: #c8c8c8 !important; }
.mine-shaft-300 { color: #a4a4a4 !important; }
.mine-shaft-400 { color: #818181 !important; }
.mine-shaft-500 { color: #666666 !important; }
.mine-shaft-600 { color: #515151 !important; }
.mine-shaft-700 { color: #434343 !important; }
.mine-shaft-800 { color: #383838 !important; }
.mine-shaft-900 { color: #313131 !important; }
.mine-shaft { color: #242424 !important; }

.robins-egg-blue-50 { color: #ebffff !important; }
.robins-egg-blue-100 { color: #cefdff !important; }
.robins-egg-blue-200 { color: #a2f8ff !important; }
.robins-egg-blue-300 { color: #63f0fd !important; }
.robins-egg-blue-400 { color: #1cdef4 !important; }
.robins-egg-blue-600 { color: #039ab7 !important; }
.robins-egg-blue-700 { color: #0a7a94 !important; }
.robins-egg-blue-800 { color: #126278 !important; }
.robins-egg-blue-900 { color: #145265 !important; }
.robins-egg-blue-950 { color: #063646 !important; }
.robins-egg-blue { color: #00bcd4 !important; }

.malachite-50 { color: #eefff4 !important; }
.malachite-100 { color: #d7ffe6 !important; }
.malachite-200 { color: #b2ffd0 !important; }
.malachite-300 { color: #76ffac !important; }
.malachite-400 { color: #33f581 !important; }
.malachite-500 { color: #09de5f !important; }
.malachite-700 { color: #04913e !important; }
.malachite-800 { color: #0a7135 !important; }
.malachite-900 { color: #0a5d2e !important; }
.malachite-950 { color: #003417 !important; }
.malachite { color: #00c851 !important; }

.dodger-blue-50 { color: #eefaff !important; }
.dodger-blue-100 { color: #daf3ff !important; }
.dodger-blue-200 { color: #bdebff !important; }
.dodger-blue-300 { color: #8fe0ff !important; }
.dodger-blue-400 { color: #5accff !important; }
.dodger-blue-500 { color: #34b1fd !important; }
.dodger-blue-700 { color: #167bdf !important; }
.dodger-blue-800 { color: #1863b5 !important; }
.dodger-blue-900 { color: #1a548e !important; }
.dodger-blue-950 { color: #153456 !important; }
.dodger-blue { color: #2196f3 !important; }

.coral-red-50 { color: #fff1f1 !important; }
.coral-red-100 { color: #ffdfdf !important; }
.coral-red-200 { color: #ffc5c5 !important; }
.coral-red-300 { color: #ff9d9d !important; }
.coral-red-400 { color: #ff6464 !important; }
.coral-red-600 { color: #ed1515 !important; }
.coral-red-700 { color: #c80d0d !important; }
.coral-red-800 { color: #a50f0f !important; }
.coral-red-900 { color: #881414 !important; }
.coral-red-950 { color: #4b0404 !important; }
.coral-red { color: #ff4444 !important; }

.gorse-50 { color: #fefde8 !important; }
.gorse-100 { color: #fefdc3 !important; }
.gorse-200 { color: #fdf68b !important; }
.gorse-400 { color: #f9d916 !important; }
.gorse-500 { color: #e9c009 !important; }
.gorse-600 { color: #c99605 !important; }
.gorse-700 { color: #a06c08 !important; }
.gorse-800 { color: #84540f !important; }
.gorse-900 { color: #704513 !important; }
.gorse-950 { color: #422406 !important; }
.gorse { color: #fceb4c !important; }

.burnt-sienna-50 { color: #fef2f2 !important; }
.burnt-sienna-100 { color: #fee3e2 !important; }
.burnt-sienna-200 { color: #feccca !important; }
.burnt-sienna-300 { color: #fca8a5 !important; }
.burnt-sienna-400 { color: #f87671 !important; }
.burnt-sienna-600 { color: #dc2d26 !important; }
.burnt-sienna-700 { color: #b9221c !important; }
.burnt-sienna-800 { color: #99201b !important; }
.burnt-sienna-900 { color: #7f211d !important; }
.burnt-sienna-950 { color: #450c0a !important; }
.burnt-sienna { color: #f05a54 !important; }

.spring-green-50 { color: #eefff5 !important; }
.spring-green-100 { color: #d8ffeb !important; }
.spring-green-200 { color: #b3ffd7 !important; }
.spring-green-300 { color: #78fdb8 !important; }
.spring-green-500 { color: #0dda71 !important; }
.spring-green-600 { color: #03b65b !important; }
.spring-green-700 { color: #078e4a !important; }
.spring-green-800 { color: #0c6f3e !important; }
.spring-green-900 { color: #0c5b35 !important; }
.spring-green-950 { color: #00331b !important; }
.spring-green { color: #21f086 !important; }

.picton-blue-50 { color: #eff9ff !important; }
.picton-blue-100 { color: #dceffd !important; }
.picton-blue-200 { color: #c1e4fc !important; }
.picton-blue-300 { color: #96d5fa !important; }
.picton-blue-400 { color: #65bcf5 !important; }
.picton-blue-600 { color: #2b83e5 !important; }
.picton-blue-700 { color: #236dd2 !important; }
.picton-blue-800 { color: #2258ab !important; }
.picton-blue-900 { color: #214c87 !important; }
.picton-blue-950 { color: #192f52 !important; }
.picton-blue { color: #3c9df0 !important; }

.corn-50 { color: #fefde8 !important; }
.corn-100 { color: #fefdc3 !important; }
.corn-200 { color: #fdf78b !important; }
.corn-300 { color: #fcea48 !important; }
.corn-400 { color: #f9d916 !important; }
.corn-600 { color: #c99605 !important; }
.corn-700 { color: #a06b08 !important; }
.corn-800 { color: #84540f !important; }
.corn-900 { color: #714512 !important; }
.corn-950 { color: #422406 !important; }
.corn { color: #e9c009 !important; }

.amber-50 { color: #fffbeb !important; }
.amber-100 { color: #fef3c7 !important; }
.amber-200 { color: #fde68a !important; }
.amber-300 { color: #fcd34d !important; }
.amber-400 { color: #fbbf24 !important; }
.amber-600 { color: #d97706 !important; }
.amber-700 { color: #b45309 !important; }
.amber-800 { color: #92400e !important; }
.amber-900 { color: #78350f !important; }
.amber-950 { color: #451a03 !important; }
.amber { color: #f59e0b !important; }

.fun-blue-50 { color: #f2f7fd !important; }
.fun-blue-100 { color: #e4edfa !important; }
.fun-blue-200 { color: #c2dcf5 !important; }
.fun-blue-300 { color: #8cbeed !important; }
.fun-blue-400 { color: #4f9de1 !important; }
.fun-blue-500 { color: #2880cf !important; }
.fun-blue-700 { color: #16518e !important; }
.fun-blue-800 { color: #164676 !important; }
.fun-blue-900 { color: #183b62 !important; }
.fun-blue-950 { color: #102541 !important; }
.fun-blue { color: #1964af !important; }

.regent-gray-50 { color: #f5f8f8 !important; }
.regent-gray-100 { color: #edf1f2 !important; }
.regent-gray-200 { color: #dee5e7 !important; }
.regent-gray-300 { color: #c9d3d8 !important; }
.regent-gray-400 { color: #b2bfc7 !important; }
.regent-gray-500 { color: #9dabb7 !important; }
.regent-gray-600 { color: #7d8b9c !important; }
.regent-gray-700 { color: #747f8e !important; }
.regent-gray-800 { color: #5f6974 !important; }
.regent-gray-900 { color: #50575f !important; }
.regent-gray-950 { color: #2f3337 !important; }

.seance-50 { color: #fcf5fe !important; }
.seance-100 { color: #f8e9fe !important; }
.seance-200 { color: #f1d3fb !important; }
.seance-300 { color: #e9b0f7 !important; }
.seance-400 { color: #dc81f1 !important; }
.seance-500 { color: #c850e5 !important; }
.seance-600 { color: #af30c9 !important; }
.seance-800 { color: #7a2088 !important; }
.seance-900 { color: #661f70 !important; }
.seance-950 { color: #42084a !important; }
.seance { color: #9c27b0 !important; }

.pomegranate-50 { color: #fef4ee !important; }
.pomegranate-100 { color: #fde6d7 !important; }
.pomegranate-200 { color: #f9caaf !important; }
.pomegranate-300 { color: #f6a57b !important; }
.pomegranate-400 { color: #f17646 !important; }
.pomegranate-600 { color: #de3a18 !important; }
.pomegranate-700 { color: #b82916 !important; }
.pomegranate-800 { color: #932319 !important; }
.pomegranate-900 { color: #762018 !important; }
.pomegranate-950 { color: #400d0a !important; }
.pomegranate { color: #ec4c1a !important; }

.pizazz-50 { color: #fffbec !important; }
.pizazz-100 { color: #fff6d3 !important; }
.pizazz-200 { color: #ffeaa5 !important; }
.pizazz-300 { color: #ffd86d !important; }
.pizazz-400 { color: #ffbb32 !important; }
.pizazz-500 { color: #ffa40a !important; }
.pizazz-700 { color: #cc6702 !important; }
.pizazz-800 { color: #a14f0b !important; }
.pizazz-900 { color: #82420c !important; }
.pizazz-950 { color: #462004 !important; }
.pizazz { color: #ff8c00 !important; }

.bright-sun-50 { color: #fffaeb !important; }
.bright-sun-100 { color: #fff0c6 !important; }
.bright-sun-200 { color: #fee289 !important; }
.bright-sun-400 { color: #feb621 !important; }
.bright-sun-500 { color: #f89408 !important; }
.bright-sun-600 { color: #db6d04 !important; }
.bright-sun-700 { color: #b64b07 !important; }
.bright-sun-800 { color: #943a0c !important; }
.bright-sun-900 { color: #79300e !important; }
.bright-sun-950 { color: #461702 !important; }
.bright-sun { color: #fec941 !important; }

.azure-radiance-50 { color: #eff8ff !important; }
.azure-radiance-100 { color: #def0ff !important; }
.azure-radiance-200 { color: #b6e3ff !important; }
.azure-radiance-300 { color: #75cfff !important; }
.azure-radiance-400 { color: #2cb7ff !important; }
.azure-radiance-600 { color: #007dd4 !important; }
.azure-radiance-700 { color: #0063ab !important; }
.azure-radiance-800 { color: #00548d !important; }
.azure-radiance-900 { color: #064674 !important; }
.azure-radiance-950 { color: #042c4d !important; }
.azure-radiance { color: #00a3ff !important; }

.bright-turquoise-50 { color: #e7fff8 !important; }
.bright-turquoise-100 { color: #c6ffed !important; }
.bright-turquoise-200 { color: #92ffe1 !important; }
.bright-turquoise-300 { color: #4dffd7 !important; }
.bright-turquoise-500 { color: #00e7b0 !important; }
.bright-turquoise-600 { color: #00bd92 !important; }
.bright-turquoise-700 { color: #00977a !important; }
.bright-turquoise-800 { color: #007761 !important; }
.bright-turquoise-900 { color: #006151 !important; }
.bright-turquoise-950 { color: #003730 !important; }
.bright-turquoise { color: #01fcc3 !important; }

.turquoise-50 { color: #ebfef7 !important; }
.turquoise-100 { color: #cefdea !important; }
.turquoise-200 { color: #a2f8da !important; }
.turquoise-300 { color: #66efc9 !important; }
.turquoise-500 { color: #04c59b !important; }
.turquoise-600 { color: #00a07f !important; }
.turquoise-700 { color: #008069 !important; }
.turquoise-800 { color: #006555 !important; }
.turquoise-900 { color: #015346 !important; }
.turquoise-950 { color: #002f29 !important; }
.turquoise { color: #3de1b8 !important; }

.alice-blue-100 { color: #e0f1fe !important; }
.alice-blue-200 { color: #bae4fd !important; }
.alice-blue-300 { color: #7dcffc !important; }
.alice-blue-400 { color: #38b8f8 !important; }
.alice-blue-500 { color: #0e9fe9 !important; }
.alice-blue-600 { color: #027ec7 !important; }
.alice-blue-700 { color: #0364a1 !important; }
.alice-blue-800 { color: #075585 !important; }
.alice-blue-900 { color: #0c476e !important; }
.alice-blue-950 { color: #082d49 !important; }
.alice-blue { color: #f1f9ff !important; }

.curious-blue-50 { color: #f1f8fe !important; }
.curious-blue-100 { color: #e1effd !important; }
.curious-blue-200 { color: #bddffa !important; }
.curious-blue-300 { color: #83c6f6 !important; }
.curious-blue-500 { color: #188edf !important; }
.curious-blue-600 { color: #0b70be !important; }
.curious-blue-700 { color: #0a599a !important; }
.curious-blue-800 { color: #0d4c7f !important; }
.curious-blue-900 { color: #114169 !important; }
.curious-blue-950 { color: #0b2846 !important; }
.curious-blue { color: #299eed !important; }

.supernova-50 { color: #fffee7 !important; }
.supernova-100 { color: #fffec1 !important; }
.supernova-200 { color: #fff886 !important; }
.supernova-300 { color: #ffec41 !important; }
.supernova-400 { color: #ffdb0d !important; }
.supernova-600 { color: #d19500 !important; }
.supernova-700 { color: #a66a02 !important; }
.supernova-800 { color: #89530a !important; }
.supernova-900 { color: #74430f !important; }
.supernova-950 { color: #442304 !important; }
.supernova { color: #ffcc00 !important; }

.eastern-blue-50 { color: #ecffff !important; }
.eastern-blue-100 { color: #cffdfe !important; }
.eastern-blue-200 { color: #a6f8fb !important; }
.eastern-blue-300 { color: #68f2f8 !important; }
.eastern-blue-400 { color: #24e1ec !important; }
.eastern-blue-500 { color: #08c4d2 !important; }
.eastern-blue-700 { color: #0f7c8f !important; }
.eastern-blue-800 { color: #166574 !important; }
.eastern-blue-900 { color: #175462 !important; }
.eastern-blue-950 { color: #093743 !important; }
.eastern-blue { color: #0994a7 !important; }

.casal-50 { color: #e8fffb !important; }
.casal-100 { color: #c4fff5 !important; }
.casal-200 { color: #91ffec !important; }
.casal-300 { color: #46ffdf !important; }
.casal-400 { color: #00ffdd !important; }
.casal-500 { color: #00fffb !important; }
.casal-600 { color: #00ced9 !important; }
.casal-700 { color: #00a3ae !important; }
.casal-800 { color: #00818b !important; }
.casal-950 { color: #004752 !important; }
.casal { color: #045d67 !important; }

.grenadier-50 { color: #fef5ee !important; }
.grenadier-100 { color: #fde9d7 !important; }
.grenadier-200 { color: #facfae !important; }
.grenadier-300 { color: #f6ae7b !important; }
.grenadier-400 { color: #f18246 !important; }
.grenadier-500 { color: #ee6021 !important; }
.grenadier-700 { color: #b93515 !important; }
.grenadier-800 { color: #932b19 !important; }
.grenadier-900 { color: #772617 !important; }
.grenadier-950 { color: #40110a !important; }
.grenadier { color: #d44416 !important; }

.tango-50 { color: #fef7ee !important; }
.tango-100 { color: #fdeed7 !important; }
.tango-200 { color: #fad9ae !important; }
.tango-300 { color: #f7bd7a !important; }
.tango-400 { color: #f29745 !important; }
.tango-600 { color: #e06016 !important; }
.tango-700 { color: #ba4814 !important; }
.tango-800 { color: #943a18 !important; }
.tango-900 { color: #773117 !important; }
.tango-950 { color: #40170a !important; }
.tango { color: #ee7416 !important; }

.pearl-bush-50 { color: #f8f7f4 !important; }
.pearl-bush-100 { color: #efece5 !important; }
.pearl-bush-300 { color: #cabea7 !important; }
.pearl-bush-400 { color: #b49f83 !important; }
.pearl-bush-500 { color: #a58a6a !important; }
.pearl-bush-600 { color: #97795f !important; }
.pearl-bush-700 { color: #7e6350 !important; }
.pearl-bush-800 { color: #675145 !important; }
.pearl-bush-900 { color: #554439 !important; }
.pearl-bush-950 { color: #2d231d !important; }
.pearl-bush { color: #e4ded2 !important; }

.red-oxide-50 { color: #fff0f0 !important; }
.red-oxide-100 { color: #ffdddd !important; }
.red-oxide-200 { color: #ffc1c1 !important; }
.red-oxide-300 { color: #ff9696 !important; }
.red-oxide-400 { color: #ff5a5a !important; }
.red-oxide-500 { color: #ff2727 !important; }
.red-oxide-600 { color: #fb0707 !important; }
.red-oxide-700 { color: #d40101 !important; }
.red-oxide-800 { color: #ae0606 !important; }
.red-oxide-900 { color: #900c0c !important; }
.red-oxide { color: #750000 !important; }

.chicago-50 { color: #f6f6f6 !important; }
.chicago-100 { color: #e7e7e7 !important; }
.chicago-200 { color: #d1d1d1 !important; }
.chicago-300 { color: #b0b0b0 !important; }
.chicago-400 { color: #888888 !important; }
.chicago-500 { color: #6d6d6d !important; }
.chicago-700 { color: #4f4f4f !important; }
.chicago-800 { color: #454545 !important; }
.chicago-900 { color: #3d3d3d !important; }
.chicago-950 { color: #262626 !important; }
.chicago { color: #575757 !important; }

.fire-bush-50 { color: #fffcea !important; }
.fire-bush-100 { color: #fff5c5 !important; }
.fire-bush-200 { color: #ffeb85 !important; }
.fire-bush-300 { color: #ffda46 !important; }
.fire-bush-400 { color: #ffc71b !important; }
.fire-bush-500 { color: #f09b00 !important; }
.fire-bush-600 { color: #e27c00 !important; }
.fire-bush-700 { color: #bb5502 !important; }
.fire-bush-800 { color: #984208 !important; }
.fire-bush-900 { color: #7c360b !important; }
.fire-bush-950 { color: #481a00 !important; }
.fire-bush { color: #f09b00 !important; }

.tangaroa-50 { color: #e9f5ff !important; }
.tangaroa-100 { color: #d7eeff !important; }
.tangaroa-200 { color: #b7ddff !important; }
.tangaroa-300 { color: #8bc5ff !important; }
.tangaroa-400 { color: #5e9fff !important; }
.tangaroa-500 { color: #3977ff !important; }
.tangaroa-600 { color: #174bff !important; }
.tangaroa-700 { color: #0d3ef5 !important; }
.tangaroa-800 { color: #0e38c5 !important; }
.tangaroa-900 { color: #163899 !important; }
.tangaroa-950 { color: #09153e !important; }
.tangaroa { color: #09153e !important; }

.sunglow-50 { color: #fefae8 !important; }
.sunglow-100 { color: #fff5c2 !important; }
.sunglow-200 { color: #ffe789 !important; }
.sunglow-300 { color: #ffce38 !important; }
.sunglow-400 { color: #fdba12 !important; }
.sunglow-500 { color: #eca006 !important; }
.sunglow-600 { color: #cc7902 !important; }
.sunglow-700 { color: #a35405 !important; }
.sunglow-800 { color: #86420d !important; }
.sunglow-900 { color: #723711 !important; }
.sunglow-950 { color: #431b05 !important; }
.sunglow { color: #ffce38 !important; }

.minsk-50 { color: #eff3fe !important; }
.minsk-100 { color: #e2e8fd !important; }
.minsk-200 { color: #cad3fb !important; }
.minsk-300 { color: #aab6f7 !important; }
.minsk-400 { color: #888ff1 !important; }
.minsk-500 { color: #6b6ce9 !important; }
.minsk-600 { color: #594fdc !important; }
.minsk-700 { color: #4c40c2 !important; }
.minsk-800 { color: #3f369d !important; }
.minsk-900 { color: #393582 !important; }
.minsk-950 { color: #211e48 !important; }
.minsk { color: #393582 !important; }

.periwinkle-gray-50 { color: #f3f5fa !important; }
.periwinkle-gray-100 { color: #e9ecf6 !important; }
.periwinkle-gray-200 { color: #cfd5ea !important; }
.periwinkle-gray-300 { color: #bfc6e2 !important; }
.periwinkle-gray-400 { color: #a4aad5 !important; }
.periwinkle-gray-500 { color: #8d8fc7 !important; }
.periwinkle-gray-600 { color: #7875b6 !important; }
.periwinkle-gray-700 { color: #67639f !important; }
.periwinkle-gray-800 { color: #545281 !important; }
.periwinkle-gray-900 { color: #474768 !important; }
.periwinkle-gray-950 { color: #2a293d !important; }
.periwinkle-gray { color: #cfd5ea !important; }

.zircon-50 { color: #f3f5fa !important; }
.zircon-100 { color: #e9ebf5 !important; }
.zircon-200 { color: #d8dbed !important; }
.zircon-300 { color: #c0c4e1 !important; }
.zircon-400 { color: #a6a7d3 !important; }
.zircon-500 { color: #918fc5 !important; }
.zircon-600 { color: #7e78b3 !important; }
.zircon-700 { color: #6d669c !important; }
.zircon-800 { color: #5a547f !important; }
.zircon-900 { color: #4b4867 !important; }
.zircon-950 { color: #2c2a3c !important; }
.zircon { color: #e9ebf5 !important; }

.fuscous-gray-50 { color: #f6f6f6 !important; }
.fuscous-gray-100 { color: #e7e7e7 !important; }
.fuscous-gray-200 { color: #d1d1d1 !important; }
.fuscous-gray-300 { color: #b0b0b0 !important; }
.fuscous-gray-400 { color: #888888 !important; }
.fuscous-gray-500 { color: #6d6d6d !important; }
.fuscous-gray-600 { color: #5d5d5d !important; }
.fuscous-gray-700 { color: #4e4e4e !important; }
.fuscous-gray-800 { color: #454545 !important; }
.fuscous-gray-900 { color: #3d3d3d !important; }
.fuscous-gray-950 { color: #262626 !important; }
.fuscous-gray { color: #4e4e4e !important; }

.blue-dianne-50 { color: #f0f9fb !important; }
.blue-dianne-100 { color: #d9eff4 !important; }
.blue-dianne-200 { color: #b8e1e9 !important; }
.blue-dianne-300 { color: #87cad9 !important; }
.blue-dianne-400 { color: #4fabc1 !important; }
.blue-dianne-500 { color: #338fa7 !important; }
.blue-dianne-600 { color: #2d748d !important; }
.blue-dianne-700 { color: #2b5f73 !important; }
.blue-dianne-800 { color: #2c5364 !important; }
.blue-dianne-900 { color: #274352 !important; }
.blue-dianne-950 { color: #152b37 !important; }

.port-gore-50 { color: #eff3fe !important; }
.port-gore-100 { color: #e1eafe !important; }
.port-gore-200 { color: #c9d6fc !important; }
.port-gore-300 { color: #a8bbf9 !important; }
.port-gore-400 { color: #8596f4 !important; }
.port-gore-500 { color: #6872ec !important; }
.port-gore-600 { color: #4b4be0 !important; }
.port-gore-700 { color: #3e3dc5 !important; }
.port-gore-800 { color: #34359f !important; }
.port-gore-900 { color: #31337e !important; }
.port-gore-950 { color: #23235a !important; }
.port-gore { color: #23235a !important; }

.biscay-50 { color: #f2f5fc !important; }
.biscay-100 { color: #e1e8f8 !important; }
.biscay-200 { color: #cad7f3 !important; }
.biscay-300 { color: #a6bdea !important; }
.biscay-400 { color: #7c9bde !important; }
.biscay-500 { color: #5d7bd4 !important; }
.biscay-600 { color: #4960c7 !important; }
.biscay-700 { color: #3f4fb6 !important; }
.biscay-800 { color: #384295 !important; }
.biscay-900 { color: #2c3469 !important; }
.biscay-950 { color: #222649 !important; }
.biscay { color: #2c3469 !important; }

.transparent { color: transparent !important; }