.pomegranate-progress {
    .MuiLinearProgress-bar {
        background-color: var(--pomegranate);
    }
}

.pizazz-progress {
    .MuiLinearProgress-bar {
        background-color: var(--pizazz);
    }
}

.bright-sun-progress {
    .MuiLinearProgress-bar {
        background-color: var(--bright-sun);
    }
}

.shamrock-progress {
    .MuiLinearProgress-bar {
        background-color: var(--shamrock);
    }
}

.azure-radiance-progress {
    .MuiLinearProgress-bar {
        background-color: var(--azure-radiance);
    }
}